<div class="interAction aksearchexclude foundation-widget ia-modern-card ia-modern-card__adaptive">
    {{#if Title}}
    <div class="ia-header ia-header__modern">
        <i class="fa fa-users" aria-hidden="true"></i>
        <h3 class="ia-header--title">{{Title}}</span>
    </div>
    {{/if}}
    <div class="ia-people-directory ia-default-view">
        <div class="ia-people-search">
            <div class="row">
                <div class="small-12 medium-3 columns">
                    <select id="searchoption" name="searchoption" type="text" class="ia-searchOptionSelect"
                        aria-label='{{translate "hub.peopledirectory.chooseoption"}}'>
                        <option selected="selected" value="namesearch">
                            {{translate "peopledirectory.namesearch"}}
                        </option>
                        <option value="keywordsearch">
                            {{translate "peopledirectory.keywordsearch"}}
                        </option>
                    </select>
                </div>
                <div class="small-12 medium-9 columns">
                    <div class="row searchoptionHolder" id="namesearch">
                        <div class="small-6 columns">
                            <input id="firstName" placeholder="{{translate "peopledirectory.firstnameplaceholder"}}"
                                aria-label="{{translate "peopledirectory.firstnameplaceholder"}}." type="text"
                                style="width:95%;" class="ia-firstNameSearchBox" />
                        </div>
                        <div class="small-6 columns">
                            <input id="lastName" placeholder="{{translate "peopledirectory.lastnameplaceholder"}}"
                                aria-label="{{translate "peopledirectory.lastnameplaceholder"}}." type="text"
                                style="width:95%;" class="ia-lastNameSearchBox" />
                        </div>
                    </div>
                    <div class="row searchoptionHolder ia-search-option-holder" id="keywordsearch">
                        <div class="small-12 columns ia-keyword-search">
                            <input id="keywordSearch"
                                placeholder="{{translate "peopledirectory.keywordsearchplaceholder"}}"
                                aria-label="{{translate "peopledirectory.keywordsearchplaceholder"}}." type="text"
                                class="ia-keywordSearchBox" />
                            <a href="#" class="searchKeywordIcon ia-search-icon" aria-label="{{translate 'hub.common.search'}}">
                                <span class="ia-search-icon fa fa-search" aria-hidden="true"></span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{#if DisplayAZSelector}}
        <div class="ia-people-az">
            <ul class="ia-people-az-list">
                <li class="ak-selected"><a data-selector="All" href="javascript:void(0)">{{translate "peopledirectory.all"}}</a></li>
                {{#each Alphabets}}
                <li><a href="javascript:void(0)">{{this}}</a></li>
                {{/each}}
            </ul>
        </div>
        {{/if}}
        {{#unless FilterAsProperty}}
        <div class="ia-people-filters">
            <div class="ia-people-filter-trigger" role="button" tabindex="0" aria-label="{{translate 'hub.peopledirectory.togglefilter'}}">
                <span class="ia-filter-toggle"></span>
                {{translate "peopledirectory.filters"}}
            </div>
            <div class="ia-people-filter-wrapper">
                {{#each RefinementFilters}}
                <div class="ia-people-filter ia-filter-department">
                    <h3 class="ia-people-filter-header" data-filtername="{{FilterName}}">{{FilterHeader}}</h3>
                    <div class="ia-people-filter-options rail-ie-fallout">
                        {{#if this.FilterOptions}}
                        <ul>
                            {{#each this.FilterOptions}}
                            <li>
                                <div class="label"><label for="{{this.id}}">{{this.value}}</label></div>
                                <div class="value"><input type="checkbox" id="{{this.id}}" value="{{this.value}}" />
                                </div>
                            </li>
                            {{/each}}
                        </ul>
                        {{else}}
                        <ul>
                            <li><span>{{translate "peopledirectory.datanotavailable"}}.</span></li>
                        </ul>
                        {{/if}}
                    </div>
                </div>
                {{/each}}
            </div>
        </div>
        {{/unless}}

        {{#if FilterAsProperty}}
        <div class="ia-people-results  ia-people-no-filter">
            <div class="ia-people-results-view">
                <span class="ia-people-results-byList fa fa-list" tabindex="0" role="button"
                    aria-label="{{translate 'peopledirectory.listview'}}"></span>
                <span class="ia-people-results-byGrid fa fa-th-large ia-active" tabindex="0" role="button"
                    aria-label="{{translate 'peopledirectory.gridview'}}"></span>
            </div>
            <div class="ia-people-results-infotext">
                {{#if SelectedLetter}}
                <p>
                    {{translate "peopledirectory.peoplewith"}} {{SearchType}}
                    {{translate "peopledirectory.matchingnames"}} {{SelectedLetter}}
                </p>
                {{/if}}
            </div>
            <div class="ia-loading-panel ia-hide">
                <!-- change class to ia-show to show this loading panel -->
                <div class="ia-loader"></div>
            </div>
            <div class="ia-people-results-list">
                <table class="ia-people-results-table tablesaw tablesaw-stack" data-mode="stack">
                    <colgroup>
                        <col class="ia-col-width-40">
                        <col class="ia-col-width-40">
                        <col class="ia-col-width-20">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>{{translate "peopledirectory.namecolumn"}}</th>
                            <th>{{translate "peopledirectory.titlecolumn"}}</th>
                            <th>{{translate "hub.peopledirectory.contact"}}</th>
                            <th>{{translate "peopledirectory.officecolumn"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{{#each People}}-->

                        <tr>
                            <td>
                                {{#if ../DisplayFL}}
                                <a data-id="{{Id}}" class="ia-profile-detail-link ia-modal-inline-trigger">
                                    <span><img class="ia-people-list-avatar ed-user-image" src="{{pictureurl}}"
                                            data-user="{{userprincipalname}}"
                                            alt="Profile picture of {{givenname}} {{surname}}." /></span>
                                    <span>{{givenname}} {{surname}}</span>
                                </a>
                                {{else}}
                                <a data-id="{{Id}}" class="ia-profile-detail-link ia-modal-inline-trigger">
                                    <span><img class="ia-people-list-avatar ed-user-image" src="{{pictureurl}}"
                                            data-user="{{userprincipalname}}"
                                            alt="Profile picture of {{givenname}} {{surname}}." /></span>
                                    <span>{{surname}}, {{givenname}}</span>
                                </a>
                                {{/if}}
                            </td>
                            <td>{{jobtitle}}</td>
                            <td>
                                <ul class="ia-contact-links">
                                    {{#if businessphones}}
                                    <li><a href="tel:{{businessphones}}"><i class="fa fa-phone"
                                                aria-hidden="true"></i></a></li>
                                    {{/if}}
                                    <li>
                                        {{#if mail}}
                                        <a href="mailto:{{mail}}"><i class="fa fa-envelope-o"></i></a>
                                        {{else}}
                                        <a href="mailto:{{userprincipalname}}"><i class="fa fa-envelope-o"></i></a>
                                        {{/if}}
                                    </li>
                                    {{#if mail}}
                                    <li><a class="ia-ms-team-icon" target="_blank"
                                            href="https://teams.microsoft.com/l/chat/0/0?users={{mail}}">Microsoft
                                            Teams</a></li>
                                    {{/if}}
                                </ul>
                            </td>
                            <td>{{officelocation}}</td>
                        </tr>
                        <!--{{/each}}-->
                    </tbody>
                </table>
            </div>
            <ul class="ia-people-results-grid">
                {{#each People}}
                <li>
                    <div class="ia-profile-container">
                        <div class="ia-profile-avatar">
                            <a data-id="{{Id}}" class="ia-modal-inline-trigger">
                                <img src="{{pictureurl}}" data-user="{{userprincipalname}}"
                                    alt="Profile picture of {{givenname}} {{surname}}." class="ed-user-image" />
                            </a>
                        </div>
                        <div class="ia-profile-details">
                            <span data-id="{{Id}}" href="#user-popup"
                                class="ia-profile-detail-link ia-modal-inline-trigger" tabindex="0"
                                aria-label="{{translate 'hub.peopledirectory.moreinfoprefix'}} {{givenname}} {{surname}}">
                                {{#if ../DisplayFL}}
                                <h2 class="ia-profile-name">{{givenname}} {{surname}}</h2>
                                {{else}}
                                <h2 class="ia-profile-name">{{surname}}, {{givenname}}</h2>
                                {{/if}}
                                {{#if jobtitle}}
                                <h3 class="ia-profile-title">{{jobtitle}}</h3>
                                {{/if}}
                                {{#if department}}
                                <p class="ia-profile-dept">
                                    {{translate "peopledirectory.userdepartment"}}: {{department}}
                                </p>
                                {{/if}}
                                {{#if officelocation}}
                                <p class="ia-profile-office">
                                    {{translate "peopledirectory.useroffice"}}: {{officelocation}}
                                </p>
                                {{/if}}
                                {{#if usageLocation}}
                                <p class="ia-profile-location">
                                    {{translate "peopledirectory.userlocation"}}:
                                    {{usageLocation}}
                                </p>
                                {{/if}}
                                <ul class="ia-contact-links">
                                    {{#if businessphones}}
                                    <li><a href="tel:{{businessphones}}" aria-label="{{translate 'common.call'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-phone" aria-hidden="true"></i></a></li>
                                    {{/if}}
                                    <li>
                                        {{#if mail}}
                                        <a href="mailto:{{mail}}" aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                        {{else}}
                                        <a href="mailto:{{userprincipalname}}"
                                            aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i class="fa fa-envelope-o"
                                                aria-hidden="true"></i></a>
                                        {{/if}}
                                    </li>
                                    {{#if mail}}
                                    <li><a class="ia-ms-team-icon" target="_blank"
                                            href="https://teams.microsoft.com/l/chat/0/0?users={{mail}}"
                                            aria-label="{{translate 'hub.peopledirectory.contact'}} {{givenname}} {{surname}} with Microsoft Teams."></a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </span>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{#if People.length}}
            <div class="showMoreResults" style="text-align: center;">
                <a href="#" style="font-size:14px;">{{translate "common.showmoreresults"}}...</a>
            </div>
            {{else}}
            <div style="text-align: center;">
                <span style="font-size:14px;">{{translate "common.noresultsfound"}}...</span>
            </div>
            {{/if}}
        </div>
        {{else}}
        <div class="ia-people-results">
            <div class="ia-people-results-view">
                <span class="ia-people-results-byList fa fa-list" tabindex="0" role="button"
                    aria-label="{{translate 'peopledirectory.listview'}}"></span>
                <span class="ia-people-results-byGrid fa fa-th-large ia-active" tabindex="0" role="button"
                    aria-label="{{translate 'peopledirectory.gridview'}}"></span>
            </div>
            <div class="ia-people-results-infotext">
                {{#if SelectedLetter}}
                <p>{{translate "peopledirectory.peoplematchingnames"}}</p>
                {{/if}}
            </div>
            <div class="ia-loading-panel ia-hide">
                <!-- change class to ia-show to show this loading panel -->
                <div class="ia-loader"></div>
            </div>
            <div class="ia-people-results-list">
                <table class="ia-people-results-table tablesaw tablesaw-stack" data-mode="stack">
                    <colgroup>
                        <col class="ia-col-width-40">
                        <col class="ia-col-width-40">
                        <col class="ia-col-width-20">
                    </colgroup>
                    <thead>
                        <tr>
                            <th>{{translate "peopledirectory.namecolumn"}}</th>
                            <th>{{translate "peopledirectory.titlecolumn"}}</th>
                            <th>{{translate "hub.peopledirectory.contact"}}</th>
                            <th>{{translate "peopledirectory.officecolumn"}}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <!--{{#each People}}-->
                        <tr>
                            <td>
                                {{#if ../DisplayFL}}
                                <a data-id="{{Id}}" class="ia-profile-detail-link ia-modal-inline-trigger">
                                    <span><img class="ia-people-list-avatar ed-user-image" src="{{pictureurl}}"
                                            data-user="{{userprincipalname}}"
                                            alt="Profile picture of {{givenname}} {{surname}}." /></span>
                                    <span>{{givenname}} {{surname}}</span>
                                </a>
                                {{else}}
                                <a data-id="{{Id}}" class="ia-profile-detail-link ia-modal-inline-trigger">
                                    <span>
                                        <img class="ia-people-list-avatar ed-user-image" src="{{pictureurl}}"
                                            data-user="{{userprincipalname}}"
                                            alt="Profile picture of {{givenname}} {{surname}}." />
                                    </span>
                                    <span>{{surname}}, {{givenname}}</span>
                                </a>
                                {{/if}}
                            </td>
                            <td>{{jobtitle}}</td>
                            <td align="center">
                                <ul class="ia-contact-links">
                                    {{#if businessphones}}
                                    <li><a href="tel:{{businessphones}}" aria-label="{{translate 'common.call'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-phone" aria-hidden="true"></i></a></li>
                                    {{/if}}
                                    <li>
                                        {{#if mail}}
                                        <a href="mailto:{{mail}}" aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-envelope-o"></i></a>
                                        {{else}}
                                        <a href="mailto:{{userprincipalname}}"
                                            aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-envelope-o"></i></a>
                                        {{/if}}
                                    </li>
                                    {{#if mail}}
                                    <li><a class="ia-ms-team-icon" target="_blank"
                                            href="https://teams.microsoft.com/l/chat/0/0?users={{mail}}"
                                            aria-label="{{translate 'hub.peopledirectory.contact'}} {{givenname}} {{surname}} with Microsoft Teams."></a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </td>
                            <td>{{officelocation}}</td>
                        </tr>
                        <!--{{/each}}-->
                    </tbody>
                </table>
            </div>
            <ul class="ia-people-results-grid">
                {{#each People}}
                <li>
                    <div class="ia-profile-container">
                        <div class="ia-profile-avatar">
                            <a data-id="{{Id}}" class="ia-modal-inline-trigger">
                                <img src="{{pictureurl}}" data-user="{{userprincipalname}}"
                                    alt="Profile picture of {{givenname}} {{surname}}." class="ed-user-image" />
                            </a>
                        </div>
                        <div class="ia-profile-details">
                            <span data-id="{{Id}}" href="#user-popup"
                                class="ia-profile-detail-link ia-modal-inline-trigger" tabindex="0"
                                aria-label="{{translate 'hub.peopledirectory.moreinfoprefix'}} {{givenname}} {{surname}}">
                                {{#if ../DisplayFL}}
                                <h2 class="ia-profile-name">{{givenname}} {{surname}}</h2>
                                {{else}}
                                <h2 class="ia-profile-name">{{surname}}, {{givenname}}</h2>
                                {{/if}}
                                {{#if jobtitle}}
                                <h3 class="ia-profile-title">{{jobtitle}}</h3>
                                {{/if}}
                                {{#if department}}
                                <p class="ia-profile-dept">
                                    {{translate "peopledirectory.userdepartment"}}: {{department}}
                                </p>
                                {{/if}}
                                {{#if officelocation}}
                                <p class="ia-profile-office">
                                    {{translate "peopledirectory.useroffice"}}: {{officelocation}}
                                </p>
                                {{/if}}
                                {{#if usageLocation}}
                                <p class="ia-profile-location">
                                    {{translate "peopledirectory.userlocation"}}:
                                    {{usageLocation}}
                                </p>
                                {{/if}}
                                <ul class="ia-contact-links">
                                    {{#if businessphones}}
                                    <li><a href="tel:{{businessphones}}" aria-label="{{translate 'common.call'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-phone" aria-hidden="true"></i></a></li>
                                    {{/if}}
                                    <li>
                                        {{#if mail}}
                                        <a href="mailto:{{mail}}" aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i
                                                class="fa fa-envelope-o" aria-hidden="true"></i></a>
                                        {{else}}
                                        <a href="mailto:{{userprincipalname}}"
                                            aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i class="fa fa-envelope-o"
                                                aria-hidden="true"></i></a>
                                        {{/if}}
                                    </li>
                                    {{#if mail}}
                                    <li><a class="ia-ms-team-icon" target="_blank"
                                            href="https://teams.microsoft.com/l/chat/0/0?users={{mail}}"
                                            aria-label="{{translate 'hub.peopledirectory.contact'}} {{givenname}} {{surname}} with Microsoft Teams."></a>
                                    </li>
                                    {{/if}}
                                </ul>
                            </span>
                        </div>
                    </div>
                </li>
                {{/each}}
            </ul>
            {{#if People.length}}
            <div class="showMoreResults" style="text-align: center;">
                <a href="#" style="font-size:14px;">{{translate "common.showmoreresults"}}...</a>
            </div>
            {{else}}
            <div style="text-align: center;">
                <span style="font-size:14px;">{{translate "common.noresultsfound"}}...</span>
            </div>
            {{/if}}
        </div>
        {{/if}}
    </div>


    <script id="template-userpopup" type="text/html">
        <div class="ia-profile-popup">
            <div class="ia-profile-summary">
                <div class="ia-profile-avatar">
                    { {#if DisplayFL} }
                    <h2 class="ia-profile-name">{ {givenname} } { {surname} }</h2>
                    { {else} }
                    <h2 class="ia-profile-name">{ {surname} }, { {givenname} }</h2>
                    { {/if} }
                    { {#if jobtitle} }
                    <h3 class="ia-profile-title">{ {jobtitle} }</h3>
                    { {/if} }
                    <img src="{ {pictureurl} }" alt="User Name" />
                </div>
            </div>
            <div class="ia-profile-full">
                <!--{ {#if department} }--><p>{{translate "peopledirectory.userdepartment"}}: { {department} }</p><!--{ {/if} }-->
                <!--{ {#if officelocation} }--><p>{{translate "peopledirectory.useroffice"}}: { {officelocation} }</p><!--{ {/if} }-->
                <!--{ {#if usageLocation} }--><p>{{translate "peopledirectory.userlocation"}}: { {usageLocation} }</p><!--{ {/if} }-->
                <!--{ {#if facsimiletelephonenumber} }--><p>{{translate "peopledirectory.userfax"}}: { {facsimiletelephonenumber} }</p><!--{ {/if} }-->
                <ul class="ia-contact-links">
                    <!--{ {#if businessphones} }-->
                    <li><a href="tel: { {businessphones} }" aria-label="{{translate 'common.call'}} {{givenname}} {{surname}}."><i class="fa fa-phone"></i></a></li>
                    <!--{ {/if} }-->
                    <!--{ {#if mobilephone} }-->
                    <li><a href="tel: { {mobilephone} }" aria-label="{{translate 'common.call'}} {{givenname}} {{surname}}."><i class="fa fa-mobile"></i></a></li>
                    <!--{ {/if} }-->
                    <!--{ {#if mail} }-->
                    <li><a href="mailto:{ {mail} }" aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}."><i class="fa fa-envelope-o"></i></a></li>
                    <!--{ {else} }-->
                    <li><a href="mailto:{ {userprincipalname} }" aria-label="{{translate 'peoplelist.email'}} {{givenname}} {{surname}}"><i class="fa fa-envelope-o"></i></a></li>
                    <!--{ {/if} }-->
                    <!--{ {#if mail} }-->
                    <li><a class="ia-ms-team-icon" target="_blank" href="https://teams.microsoft.com/l/chat/0/0?users={ {mail} }" aria-label="{{translate 'hub.peopledirectory.contact'}} {{givenname}} {{surname}} with Microsoft Teams."></a></li>
                    <!--{ {/if} }-->
                </ul>
                <p><a class="enc-emp-link" data-member="{ {profileid} }">{{translate "peopledirectory.profiledetail"}}&nbsp;&nbsp;<i class="fa fa-external-link" aria-hidden="true"></i></a></p>
            </div>
        </div>
    </script>

    <div id="user-popup" class="mfp-hide interAction ia-modal user-popup"></div>
</div>

<script>
    $(document).ready(function () {
        Akumina.Digispace.Utilities.WCAGClick(".ia-people-filter-trigger", "click keypress", function (event) {

            if ($('.ia-people-filter-wrapper').css('display') === 'none') {
                $('.ia-people-filter-trigger .ia-filter-toggle').addClass('ia-active');
                $('.ia-people-filter-wrapper').css('display', 'block');
            } else {
                $('.ia-people-filter-trigger .ia-filter-toggle').removeClass('ia-active');
                $('.ia-people-filter-wrapper').css('display', 'none');
            }
        });
    });
</script>