
<div className="ia-media-library ia-widget-wrapper">
    {this.templateModel.SearchAndFilter}
    <div className="ia-grid-utility-container">
        <div className="ia-grid-utility-left-col">
            <div className="ia-list-action ia-media-dropdown-select">
                <div className="ia-form-row">
                    <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.sortby")}</label>
                    <div className="ia-value">
                        <select className="text" onChange={this.onSortChange}>
                            {this.sortOptions.map(option =>
                            <option value={option.Name}>
                                {Akumina.Digispace.Language.TryGetText(option.DisplayName)}
                            </option>)}
                        </select>
                    </div>
                </div>
                <div rel="Search Refiner" class="ak-widget fs-js-search-refiner-widget" id="398d1678-60dd-4758-a8df-e8b1b4464a4a"></div>
            </div>
        </div>
    </div>
    {this.state.loading ?
    <div className="ia-loading-state">
        <div className="ia-skeleton-wrapper ia-skeleton-3-col">
            <div className="ia-skeleton-col">
                <div className="ia-skeleton-media"></div>
                <div className="ia-skeleton-heading"></div>
                <div className="ia-skeleton-body">
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                </div>
            </div>
            <div className="ia-skeleton-col">
                <div className="ia-skeleton-media"></div>
                <div className="ia-skeleton-heading"></div>
                <div className="ia-skeleton-body">
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                </div>
            </div>
            <div className="ia-skeleton-col">
                <div className="ia-skeleton-media"></div>
                <div className="ia-skeleton-heading"></div>
                <div className="ia-skeleton-body">
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                    <div className="ia-skeleton-text"></div>
                </div>
            </div>
        </div>
    </div> :
    this.state.errorMessage != "" ?
    <div>
        {this.state.errorMessage}
    </div>
    :
    <React.Fragment>
        <div className="ia-masanory-grid">
            {this.state.mediaItems.length ?
            this.state.mediaItems.map(item => {
            {/* Media Card HTML Starts */}
            return <div className={item.IsDefault ? "ia-grid-card ak-item fs-default" : "ia-grid-card ak-item" } ak-item={item.NewsItemIdentifier} data-webid={item.WebId} data-siteid={item.SiteId}>
                <div className="ia-card">
                    {item.IsVideo ?
                    <div id={"card_" + item.UniqueId} onClick={(e) =>
                        this.openMediaDetail(item)}
                        className={`ia-card-image ia-has-video ${item.FileType == "ogg" ? " ia-has-video-default-image" : ""}`} style={{ backgroundImage: `url(${item.ImageSrc})` }}>
                        <button className="ia-play-button">
                            <i className="fa-solid fa-play"
                               aria-label={Akumina.Digispace.Language.TryGetText("fs.common.playvideo")}></i>
                        </button>
                        {item.VideoDuration && <div className="ia-media-video-duration">{item.VideoDuration}</div>}
                        {item.IsDeleted && <div className="ia-deleted-tag">
                            {Akumina.Digispace.Language.TryGetText("fs.common.deleted")}
                        </div>}
                    </div>
                    :
                    <a href="javascript:void(0)" id={"card_" + item.UniqueId} onClick={(e) =>
                        this.openMediaDetail(item)}
                        className="ia-card-image" style={{
                                                backgroundImage:
                                                    `url(${!Akumina.AddIn.Utilities.IsNullOrEmpty(item.ImageSrc) ? item.ImageSrc :
                                                        item.FileUrl})`
                        }}>
                        {item.IsDeleted && <div className="ia-deleted-tag">
                            {Akumina.Digispace.Language.TryGetText("fs.common.deleted")}
                        </div>}
                    </a>}
                    <div className="ia-card-content">
                        {item.Categories &&
                        <div className="ia-tag-collection">
                            {item.Categories.map((category: string) =>
                            <span className="ia-tag">#{category}</span>)}
                            {item.OtherTags &&
                            <React.Fragment>
                                <a href="javascript:void(0)" className="ia-tag" id={"fs-js-tag-" + item.UniqueId} onMouseOver={(e) =>
                                    this.showOtherTags(e.currentTarget.id)} onFocus={(e) =>
                                    this.showOtherTags(e.currentTarget.id)}>
                                    + {item.OtherTags.length}
                                </a>
                                <div id={"othertags-content-fs-js-tag-" + item.UniqueId}
                                     className="ia-tippy-content-wrapper" style={{ display: "none" }}>
                                    {item.OtherTags.map((tag: string) =>
                                    <div className="ia-tippy-content">#{tag}</div>)
                                    }
                                </div>
                            </React.Fragment>
                            }
                        </div>
                        }
                        <h3 className="ia-tag-title">
                            <a href="javascript:void(0)" className={item.IsDeleted ? "ia-deleted-item" : "" } id={"title_" + item.UniqueId}
                               onClick={(e) => this.openMediaDetail(item)}>{item.Title}</a>
                        </h3>
                        <div className="ia-card-footer">
                            <div className="ia-post-by">
                                {item.Publisher && item.Publisher.ProfilePicture &&
                                <div className="ia-posted-by-user">
                                    <img className="fs-js-publisher-image" alt={item.Publisher.Name}
                                         src={item.Publisher.ProfilePicture} />
                                </div>
                                }
                                <div className="ia-posted-by-details">
                                    {item.Publisher && item.Publisher.Name &&
                                    (item.Publisher.userprincipalname ? <div onClick={() => this.handlePublisherClick(item.Publisher.userprincipalname)}><a className="ia-author-name" href="javascript:void(0);">{item.Publisher.Name}</a></div>:
                                    <div><span className="ia-author-name">{item.Publisher.Name}</span></div>)
                                    }
                                    {item.LastModifiedTime &&<div className="ia-posted-date">
                                        <span>{moment(item.LastModifiedTime).format(Akumina.Digispace.SiteContext.DateFormat.monthdatelongyear)}</span>
                                    </div>}
                                </div>
                            </div>
                            <div className="ia-card-actions">
                                <div className="ia-reactions-container">
                                    {item.Reactions && item.Reactions.map((reaction) =>
                                    <div className="ia-reaction" title={reaction.Label}><i className={"fa-regular " + reaction.CssClass}></i>{reaction.Count}</div>
                                    )}
                                </div>
                                <div className=" ia-post-statistics">
                                    <span className="fs-post-views" title={Akumina.Digispace.Language.TryGetText("fs.common.numberofviews")}>
                                        <i className="fa-regular fa-eye" aria-hidden="true"></i>{item.ViewsCount}
                                    </span>
                                    <span className="ia-post-comments" title={Akumina.Digispace.Language.TryGetText("fs.common.numberofcomments")}><i class="fa-regular fa-comment" aria-hidden="true"></i>{item.CommentsCount}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {/* Media Card HTML Ends */}
            })
            :
            <div>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.noitemsfound")}</div>
            }
        </div>
        {/* Media Detail Popup HTML Starts */}
        {this.state.mediaDetailItem &&
        <React.Fragment>
            <div className="ia-modal-overlay"></div>
            <div className="ia-modal ia-modal-lower ia-modal-large ia-media-modal" id={"media-detail-" +
                 this.state.mediaDetailItem.UniqueId}>
                <header className="ia-modal-header">
                    <button id="popupCloseButton" className="ia-modal-close" onClick={() =>
                        this.closeMediaDetail(this.state.mediaDetailItem)}>
                        <i className="fa-regular fa-xmark" aria-label={Akumina.Digispace.Language.TryGetText("fs.common.closevideo")}></i>
                    </button>
                </header>
                <section className="ia-modal-content">
                    <span className="ia-error">
                        {this.state.mediaDetailErrorMessage}
                    </span>
                    <div className="ia-media-modal-wrapper">
                        <div className="ia-media-left-content">
                            {this.state.mediaDetailItem.IsVideo ?
                            <div className="ia-media-img-wrapper">
                                {this.state.mediaDetailItem.VideoPlayer}
                            </div>
                            :
                            <div className="ia-media-img-wrapper ia-media-img-wrapper-responsive" style={{
                                                backgroundImage: `url(${this.state.mediaDetailItem.FileUrl})`
                                            }}>
                            </div>
                            }
                            {this.templateModel.ActivityCommentsComponent}
                        </div>
                        <div className="ia-media-right-content">
                            <h3>{this.state.mediaDetailItem.Title}</h3>
                            <div className="ia-modal-section">
                                <div className="ia-media-modal-button">
                                    <button id="popupDownloadButton" className="ia-button ia-button-w-icon"
                                            onClick={this.downloadFile}>
                                        <i className="fa-regular fa-cloud-arrow-down"></i>
                                    </button>
                                    <button id={"popupCopyLinkButton-" + this.state.mediaDetailItem.UniqueId}
                                            className="ia-button ia-button-w-icon" onClick={this.copyToClipboard}>
                                        <i className="fa-regular fa-link"></i>
                                    </button>
                                </div>
                                <div className="ia-post-by">
                                    <div className="ia-posted-by-user">
                                        <img className="fs-js-publisher-image" alt={this.state.mediaDetailItem.Publisher ?
                                             this.state.mediaDetailItem.Publisher.Name : "" } src={this.state.mediaDetailItem.Publisher ?
                                             this.state.mediaDetailItem.Publisher.ProfilePicture : "" } />
                                    </div>
                                    <div className="ia-posted-by-details">
                                        {this.state.mediaDetailItem.Publisher && this.state.mediaDetailItem.Publisher.Name &&
                                        (this.state.mediaDetailItem.Publisher.userprincipalname ? <div onClick={() => this.handlePublisherClick(this.state.mediaDetailItem.Publisher.userprincipalname)}><a className="ia-author-name" href="javascript:void(0);">{this.state.mediaDetailItem.Publisher.Name}</a></div>:
                                        <div><span className="ia-author-name">{this.state.mediaDetailItem.Publisher.Name}</span></div>)
                                        }
                                        <div className="ia-posted-date">
                                            {moment(this.state.mediaDetailItem.LastModifiedTime).format(Akumina.Digispace.SiteContext.DateFormat.monthdatelongyear)}
                                        </div>
                                    </div>
                                </div>
                                <div className="ia-form-row">
                                    <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.detail.filename")}</label>
                                    <div className="ia-value">{this.state.mediaDetailItem.Filename}</div>
                                </div>
                                <div className="ia-form-row ia-media-modal-details-column">
                                    <div className="ia-form-row">
                                        <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.detail.filetype")}</label>
                                        <div className="ia-value">{this.state.mediaDetailItem.FileType}</div>
                                    </div>
                                    <div className="ia-form-row">
                                        <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.detail.filesize")}</label>
                                        <div className="ia-value">{this.state.mediaDetailItem.Size}</div>
                                    </div>
                                </div>
                                <div className="ia-form-row ia-media-modal-details-column">
                                    <div className="ia-form-row">
                                        <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.detail.dimensions")}</label>
                                        {this.state.mediaDetailItem.IsVideo ?
                                        <div className="ia-value">
                                            {this.state.mediaDetailItem.frameWidth ? this.state.mediaDetailItem.frameWidth + "x" +
                                            this.state.mediaDetailItem.frameHeight : "N/A"}
                                        </div> :
                                        <div className="ia-value">{this.state.mediaDetailItem.PictureWidth} x {this.state.mediaDetailItem.PictureHeight}</div>}
                                    </div>
                                </div>
                                <div className="ia-form-row">
                                    <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.detail.description")}</label>
                                    {this.state.mediaDetailItem.Description ?
                                    <div className="ia-value">{this.state.mediaDetailItem.Description}</div> :
                                    <div className="ia-value">N/A</div>
                                    }
                                </div>
                                <div className="ia-form-row">
                                    <label>{Akumina.Digispace.Language.TryGetText("fs.mediawidget.detail.tags")}</label>
                                    {this.state.mediaDetailItem.Categories && this.state.mediaDetailItem.Categories.length ?
                                    <div className="ia-tag-collection">
                                        {this.state.mediaDetailItem.Categories.map((category: string) =>
                                        <span className="ia-tag">#{category}</span>)}
                                        {this.state.mediaDetailItem.OtherTags && this.state.mediaDetailItem.OtherTags.map((tag: string) =>
                                        <span className="ia-tag">#{tag}</span>)
                                        }
                                    </div>
                                    :
                                    <div className="ia-value">N/A</div>
                                    }
                                </div>
                            </div>
                            <div className="ia-activity-wrapper">
                                {this.templateModel.ActivityReactionsComponent}
                                {this.templateModel.ActivityReactionsAggregateComponent}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </React.Fragment>}
        {/* Media Detail Popup HTML Ends */}
        {this.state.showMoreLoading &&
        <div className="ia-loading-state">
            <div className="ia-skeleton-wrapper ia-skeleton-3-col mt-5">
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
            </div>
        </div>
        }
        {this.state.displayShowMoreButton &&
        <div className="ia-button-row pt-5 justify-content-center">
            <button className="ia-button ia-button-big" disabled={this.state.showMoreLoading}
                    onClick={this.getNextMediaItems}>
                {Akumina.Digispace.Language.TryGetText("common.showmore")}
            </button>
        </div>}
    </React.Fragment>}
</div>