
# Exclude things copied in via webpack
build/sitedefinitions/Client/Branding/*
build/sitedefinitions/Client/CDNAssets/Content/Templates/Masterpage
build/sitedefinitions/Client/CDNAssets/css/digitalworkplace.custom.css
build/sitedefinitions/Client/CDNAssets/js/digitalworkplace.custom.js
build/sitedefinitions/Client/CDNAssets/Content/language/*

# Exclude the distribution widgets
dist/widgets/*

# Exclude the tools
tools/*
!tools/deploy.js