
# Exclude things copied in via webpack
build/sitedefinitions/Client/Branding/*
build/sitedefinitions/Client/CDNAssets/*

# Exclude the distribution widgets
dist/widgets/*

# Exclude the tools
tools/*
!tools/deploy.js