{{#if HasContent}}
<article class="ia-calendar-detail ia-widget-wrapper ak-item" ak-item="{{Id}}">
    <div class="ia-calendar-header">
      <h1 class="h2">
        {{Title}}
      </h1>
    </div>
    <div class="row">
      <div class="col-md-8 ia-article-section-left">
        {{#if ThumbnailUrl}}
        <div class="ia-article-img">
          {{#if Featured}}
          <div class="ia-tag-collection">
            <div class="ia-tag-featured">
              {{translate "fs.eventdetailwidget.featured"}}
            </div>
          </div>
          {{/if}}
          <img class="img-fluid" src="{{ThumbnailUrl}}"/>
        </div>
        {{/if}}
        <div class="ia-article-description">
          <div>{{{Body}}}</div>
        </div>
        <div class="ia-button-row">
          <a href="{{DownloadIcsOccurenceUrl}}" class="ia-button-primary ia-event-detail-ics">{{translate "fs.eventdetailwidget.downloadevent"}}</a>
          {{#if HasRecurrence}}
            <a href="{{DownloadIcsSeriesUrl}}" class="ia-button ia-event-detail-ics-series">{{translate "eventdetails.downloadeventseries"}}</a>
          {{/if}}
        </div>
      </div>
      <div class="col-md-4 ia-article-section-right">
        <div class="ia-calender-attributes">
          <div class="ia-calender-datetime-location">
            <div class="ia-calender-date-time">
              <p>{{DisplayStartDate}}{{#unless IsOneDayEvent}}-{{DisplayEndDate}}{{/unless}}</p>
              <p>{{#if AllDay}}{{translate "fs.eventdetailwidget.allday"}}{{else}}{{akdateformat StartDate "hourandmin"}} - {{akdateformat EndDate "hourandmin"}}{{#if IsOneDayEvent}}{{#if DurationDisplay}} ({{DurationDisplay}}){{/if}}{{/if}}{{/if}}</p>
            </div>
          </div>
          {{#if MeetingUrl}}
          <div class="ia-calendar-teams-link">
            <a target="_blank" href="{{MeetingUrl}}"><span class="ia-logo-icons-24px ia-logo-teams" aria-hidden="true"></span>{{translate "fs.eventdetailwidget.jointeamsmeeting"}}</a>
          </div>
          {{/if}}
          {{#if Location}}
          <div class="ia-calender-datetime-location ia-calender-location">
              <span>{{Location}}</span>
          </div>
          {{/if}}
        </div>
        <div class="ia-chip-collection">
        {{#each Categories}}
            <span class="ia-chip">{{this}}</span>
            {{/each}}
        </div>
      </div>
    </div>
  </article>
  {{else}}
    {{translate "fs.eventdetailwidget.eventnotfound"}}
  {{/if}}