React.createElement(
    "div",
    { "class": "ia-notification" },
    React.createElement(
        "a",
        /* BEGIN #AKUMINA - Accessibility Fixes */
        { href: "#", className: "notification-bell activity-options ia-notification-bell ia-activity-options ia-nci-notification", onClick: this.NotificationBell_OnClick },
        React.createElement("span", { className: "assessibility-hidden-text" }, "Notification"),
        /* END #AKUMINA */
        React.createElement("i", { "class": "fa-regular fa-bell", "aria-label": Akumina.Digispace.Language.TryGetText('fs.masterpage.shownotifications') }),
        this.templateModel.UnreadNotificationCount == 0 ? React.createElement(React.Fragment, null) : React.createElement(
            "span",
            { className: "unread-count ia-unread-count" },
            this.templateModel.UnreadNotificationCount
        )
    ),
    this.templateModel.NotificationSubmenu
);