
<div id="HomeNewsEventsTabs" className="ia-news-list ia-widget-wrapper">
    <h2>{Title}</h2>
    {ConfigurationErrorMessage ? <span>{ConfigurationErrorMessage}</span> :
    <React.Fragment>
        <div className="ia-grid-utility-container">
            <div className="ia-grid-utility-left-col">
                <div className="ia-list-action">
                    {SearchCriteria && SearchCriteria.length > 0 && <React.Fragment>
                        <div className="ia-filter-selector">
                            <span className="ia-filter-text">{Akumina.Digispace.Language.TryGetText("fs.blogswidget.filterby")}:</span>
                            {SearchCriteria.map((radiofilter) => {
                            return <React.Fragment>
                                <a className={"ia-filter-option " + (radiofilter.IsSelected ? " fs-js-active" : "" )}
                                   role="button" onClick={() =>
                                    SearchBasedOnSelectedCriteria(false,
                                    undefined, radiofilter, true)}>{radiofilter.Name}
                                </a>
                                {radiofilter.Value == EnumFilteringCriteria.UserInterest && <button className={"ia-filter-option ia-button-icon ia-group-button-icon " + (radiofilter.IsSelected ? " fs-js-active" : "" )} onClick={() => OpenEditPreferencesPopup()}><i className="fa-regular fa-sliders" title={Akumina.Digispace.Language.TryGetText("fs.common.changepreferences")} aria-label={Akumina.Digispace.Language.TryGetText("fs.common.changepreferences")}></i></button>}
                            </React.Fragment>
                            })}
                        </div>
                    </React.Fragment>}
                    <div rel="Search Refiner" class="ak-widget fs-js-search-refiner-widget" id="398d1678-60dd-4758-a8df-e8b1b4464a4a"></div>
                </div>
            </div>
            <div className="ia-grid-utility-right-col">
                <div className="ia-masanory-grid-view-toggle">
                    <button className={IsListView ? "" : "fs-js-active" } onClick={() =>
                        {
                        ToggleView(false)
                        }}><i className={"fa-solid fa-grid"} aria-label={Akumina.Digispace.Language.TryGetText("fs.common.gridview")}></i>
                    </button>
                    <span className="ia-button-separator"></span>
                    <button className={IsListView ? "fs-js-active" : "" } onClick={() =>
                        {
                        ToggleView(true)
                        }}><i className={"fa-solid fa-list"} aria-label={Akumina.Digispace.Language.TryGetText("fs.common.listview")}></i>
                    </button>
                </div>

            </div>
        </div>
        {IsFetching ?
        <div className="ia-loading-state">
            <div className="ia-skeleton-wrapper">
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
                <div className="ia-skeleton-col">
                    <div className="ia-skeleton-media"></div>
                    <div className="ia-skeleton-heading"></div>
                    <div className="ia-skeleton-body">
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                        <div className="ia-skeleton-text"></div>
                    </div>
                </div>
            </div>
        </div>
        :
        <React.Fragment>
            <div className={"ia-masanory-grid " + (IsListView ? " ia-list-view" : "" )}>
                {HasNews ?
                <React.Fragment>
                    {NewsItems.map((Item) => {
                    return <div className="ia-grid-card ak-item" id={Item.NewsItemIdentifier}
                                ak-item={Item.NewsItemIdentifier} data-webid={Item.WebId} data-siteid={Item.SiteId}>
                        <div className={"ia-card" + (Item.DisplayDefaultImage ? " ia-default" : "" ) + (Item.Featured
                             ? " ia-featured" : "" )}>
                            <div className={"ia-card-image" + (Item.VideoUrl ? " ia-has-video" : "" )} style={{ backgroundImage: `url(${Item.DisplayDefaultImage ? DefaultImageSrc : (Item.ThumbnailUrl ? Item.ThumbnailUrl : Item.ImageUrl)})` }}>
                                {Item.VideoUrl && <button className="ia-video-play" onClick={() => { ShowVideoModal(Item.VideoUrl) }} ><i className="fa-regular fa-circle-play" aria-label={Akumina.Digispace.Language.TryGetText("fs.common.playvideo")}></i></button>}
                                {Item.Featured && <div className="ia-featured-tag">
                                    {Akumina.Digispace.Language.TryGetText("fs.blogswidget.featured")}
                                </div>}
                                {Item.IsDeleted && <div className="ia-deleted-tag">
                                    {Akumina.Digispace.Language.TryGetText("fs.blogswidget.deleted")}
                                </div>}
                            </div>
                            <div className="ia-card-content">
                                {Item.Categories &&
                                <div className="ia-tag-collection">
                                    {Item.Categories.map((category: string) =>
                                    <span className="ia-tag">#{category}</span>)}
                                    {Item.OtherTags &&
                                    <React.Fragment>
                                        <a href="javascript:void(0);" className="ia-tag" id={"fs-js-tag-" + Item.UniqueId} onMouseOver={(e) => ShowOtherTags(e.target.id)} onFocus={(e)=> ShowOtherTags(e.target.id)}>+{Item.OtherTags.length}</a>
                                        <div id={"othertags-content-fs-js-tag-" + Item.UniqueId} className="ia-tippy-content-wrapper" style={{display: "none"}}>
                                            {Item.OtherTags.map((otherTags: string) =>
                                            <div className="ia-tippy-content">#{otherTags}</div>)
                                            }
                                        </div>
                                    </React.Fragment>
                                    }
                                </div>
                                }
                                <h3 className={"ia-tag-title" + (Item.IsDeleted? " ia-deleted-article" : "" )}>
                                    {Item.IsDeleted?
                                    <span>{Item.Title}</span>:
                                    <a className={Akumina.Digispace.ConfigurationContext.IsSPAMode ? "ak-spalink" : "" }
                                       href={Item.FriendlyUrl}>{Item.Title}</a>
                                    }
                                </h3>
                                <div className="ia-card-footer">
                                    <div className="ia-post-by ia-post-by-blogs-home">
                                        <div className="ia-posted-by-details">
                                            <div className="ia-posted-date">
                                                {Item.PublishedDate && <span>{moment(Item.PublishedDate).format(Akumina.Digispace.SiteContext.DateFormat.monthdatelongyear)}</span>}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    })}
                </React.Fragment>
                :

                <p>{Akumina.Digispace.Language.TryGetText("fs.blogswidget.nonewsfound")}</p>
                }

            </div>
            {DisplayShowMoreButton &&
            <div className="ia-button-row">
                <button className="ia-button" onClick={() =>
                    ShowMore()}>{Akumina.Digispace.Language.TryGetText("fs.blogswidget.showmore")}
                </button>
            </div>
            }
        </React.Fragment>
        }
    </React.Fragment>
    }
    {VideoModal}
</div>