<div class="ia-card ia-widget-wrapper">
    {{#if HasContent}}
    <div class="ia-card-header">
        <div class="color-category date">
            {{!-- BEGIN #146 - Fix page heading level --}}
            {{!--
            {{akdateformat PublicationDate 'shortmonth'}} {{akdateformat PublicationDate 'dateandyear'}}
            --}}
            {{!-- END #146 --}}
            {{!-- BEGIN #146 - Fix page heading level --}}
            <h1 class="h2">{{{Title}}}</h1>
            {{!-- END #146 --}}
        </div>
        {{#if DisplayLikes}}
        <div class="ia-reactionsaggregate-container">
            <div rel="Detail Aggregate stub instance" class="ak-widget" id="30ac9008-07fb-0671-984e-b4376f9a4815"></div>
        </div>
        {{/if}}
    </div>
    
    <div class="ak-item row" ak-item="{{ID}}" ak-newstitle="{{Title}}">
        {{#if ImageUrl}}
        <div class="col-md-7">
            {{{Body}}}
            {{!-- BEGIN #AKUMINA - Add NCI Contacts --}}
            {{!-- This was never properly formatted, so commenting out for the moment
            <div class="internal-display-contacts expanded-fields-contacts" style="display: none; {{#if NCIContactPerson1_ID}} display: block;{{/if}} {{#if NCIContactPerson2_ID}} display: block;{{/if}}">
                <h3>{{translate "customfields.contacts"}}:</h3>

                <!-- Inline photo and detail link JS methods are located in digitalworkplace.custom.js -->
                <div class="contact-box">
                    {{#if NCIContactPerson1_ID}}
                    <div>
                        <div class="ia-article-author-status">
                            <div class="ia-article-author-img ia-user-teams-presence-container">
                                <div class="contact-profile-image nci-profile-photo-link" data-email-id="{{NCIContactPerson1_UserName}}">
                                </div>
                            </div>
                            <div>
                                <a class="ia-author-name fs-js-publisher nci-profile-info-link" href="" target="_blank" data-email-id="{{NCIContactPerson1_UserName}}">{{NCIContactPerson1_Title}}</a>
                            </div>
                        </div>
                        
                    </div>
                    {{/if}} 
                    {{#if NCIContactPerson2_ID}}
                    <div>

                        <div class="ia-article-author-status">
                            <div class="ia-article-author-img ia-user-teams-presence-container">
                                <div class="contact-profile-image nci-profile-photo-link" data-email-id="{{NCIContactPerson2_UserName}}">
                                </div>
                            </div>
                            <div>
                                <a class="ia-author-name fs-js-publisher nci-profile-info-link" href="" target="_blank" data-email-id="{{NCIContactPerson2_UserName}}">{{NCIContactPerson2_Title}}</a>
                            </div>
                        </div>
                        
                    </div>
                    {{/if}} 
                </div>
            </div>

            {{#if NCIOrgOwner}}
            <div class="internal-display-organization expanded-fields-organization">
                <h3>{{translate "customfields.NCIOrgOwner"}}:</h3>
                {{#each NCIOrgOwner}}
                    <div>{{{this.Label}}}</div>
                {{/each}}
            </div>
            {{/if}} 
            --}}
            {{!-- END #AKUMINA --}}
        </div>
        <div class="col-md-5">
            <div class="jumpaf imag-container">
                <img src="{{ImageUrl}}" class="imag restrictHeight" alt="{{#if ImageAlt}}{{ImageAlt}}{{else}}{{translate 'common.noimagedescription'}}{{/if}}">
            </div>
        </div>
        {{else}}
        <div class="col-md-12">
            {{{Body}}}
            {{!-- This was never properly formatted, so commenting out for the moment
            {{!-- BEGIN #AKUMINA - Add NCI Contacts --}}
            <div class="internal-display-contacts expanded-fields-contacts" style="display: none; {{#if NCIContactPerson1_ID}} display: block;{{/if}} {{#if NCIContactPerson2_ID}} display: block;{{/if}}">
                <h3>{{translate "customfields.contacts"}}:</h3>

                <!-- Inline photo and detail link JS methods are located in digitalworkplace.custom.js -->
                <div class="contact-box">
                    {{#if NCIContactPerson1_ID}}
                    <div>
                        <div class="ia-article-author-status">
                            <div class="ia-article-author-img ia-user-teams-presence-container">
                                <div class="contact-profile-image nci-profile-photo-link" data-email-id="{{NCIContactPerson1_UserName}}">
                                </div>
                            </div>
                            <div>
                                <a class="ia-author-name fs-js-publisher nci-profile-info-link" href="" target="_blank" data-email-id="{{NCIContactPerson1_UserName}}">{{NCIContactPerson1_Title}}</a>
                            </div>
                        </div>
                        
                    </div>
                    {{/if}} 
                    {{#if NCIContactPerson2_ID}}
                    <div>

                        <div class="ia-article-author-status">
                            <div class="ia-article-author-img ia-user-teams-presence-container">
                                <div class="contact-profile-image nci-profile-photo-link" data-email-id="{{NCIContactPerson2_UserName}}">
                                </div>
                            </div>
                            <div>
                                <a class="ia-author-name fs-js-publisher nci-profile-info-link" href="" target="_blank" data-email-id="{{NCIContactPerson2_UserName}}">{{NCIContactPerson2_Title}}</a>
                            </div>
                        </div>
                        
                    </div>
                    {{/if}} 
                </div>
            </div>

            {{#if NCIOrgOwner}}
            <div class="internal-display-organization expanded-fields-organization">
                <h3>{{translate "customfields.NCIOrgOwner"}}:</h3>
                {{#each NCIOrgOwner}}
                    <div>{{{this.Label}}}</div>
                {{/each}}
            </div>
            {{/if}} 
            --}}
            {{!-- END #AKUMINA --}}
        </div>
        {{/if}}
    </div>

    {{#if ContentRelatedLinks}}
    <h2 class="h3">{{translate "fs.internalpageswidget.related_links"}}</h2>
    {{{ContentRelatedLinks}}}
    {{/if}}

    <div class="d-flex justify-content-end align-items-center mt-md-0 mt-3 social-tab">
        {{#if DisplayLikes}}
        <div class="ia-reactionsdetail-container pe-3">
            <div rel="ActivityReactionsWidget stub instance" class="ak-widget" id="30ac9008-07fb-0671-984e-b4376f9a4814"></div>
        </div>
        {{/if}}
        {{#if DisplayShare}}
        <a href="#" class="share-button shareButton ia-button-primary ia-button-w-icon">
            <i class="fa fa-share-alt" aria-hidden="true"></i>
            <span class="clickText">{{translate "common.share"}}</span>
        </a>
        {{/if}}
    </div>
    {{else}}
    <p>{{translate "fs.newsdetailwidget.noarticlefound"}}</p>
    {{/if}}
</div>