/* This view does not match what is from Akumina. It should be updated at some point and then our customized view forked from it. */
React.createElement(
    "div",
    { id: "ia-news-list", className: "ia-news-list ia-widget-wrapper featured-news" },
    React.createElement(
        "h3",
        { "class": "ia-header--title" },
        Title
    ),
    ConfigurationErrorMessage ? React.createElement(
        "span",
        null,
        ConfigurationErrorMessage
    ) : React.createElement(
        React.Fragment,
        null,
        (SearchCriteria && SearchCriteria.length > 0 || SearchRefinersComponent) && React.createElement(
            "div",
            { className: "ia-grid-utility-container" + (HasDateFilter ? " ia-grid-utility-container-date-filter" : "") },
            React.createElement(
                "div",
                { className: "ia-grid-utility-left-col" },
                React.createElement(
                    "div",
                    { className: "ia-list-action" },
                    SearchCriteria && SearchCriteria.length > 0 && React.createElement(
                        React.Fragment,
                        null,
                        React.createElement(
                            "div",
                            { className: "ia-filter-selector" },
                            React.createElement(
                                "span",
                                { className: "ia-filter-text" },
                                Akumina.Digispace.Language.TryGetText("fs.newswidget.filterby"),
                                ":"
                            ),
                            SearchCriteria.map(radiofilter => {
                                return React.createElement(
                                    React.Fragment,
                                    null,
                                    React.createElement(
                                        "a",
                                        { href: "javascript:void(0)", className: "ia-filter-option " + (radiofilter.IsSelected ? " fs-js-active" : "") + (!radiofilter.IsEnabled ? " ia-filter-option-disabled" : ""),
                                            role: "button", onClick: () => SearchBasedOnSelectedCriteria(false, undefined, radiofilter, true) },
                                        radiofilter.Name
                                    ),
                                    radiofilter.Value == EnumFilteringCriteria.UserInterest && React.createElement(
                                        "button",
                                        { className: "ia-filter-option ia-button-icon ia-group-button-icon " + (radiofilter.IsSelected ? " fs-js-active" : ""), onClick: () => OpenEditPreferencesPopup() },
                                        React.createElement("i", { className: "fa-regular fa-sliders", title: Akumina.Digispace.Language.TryGetText("fs.common.changepreferences"), "aria-label": Akumina.Digispace.Language.TryGetText("fs.common.changepreferences") })
                                    )
                                );
                            })
                        )
                    ),
                    React.createElement("div", { rel: "Search Refiner", "class": "ak-widget fs-js-search-refiner-widget", id: "398d1678-60dd-4758-a8df-e8b1b4464a4a" })
                )
            )
        ),
        IsFetching ? React.createElement(
            "div",
            { className: "ia-loading-state" },
            React.createElement(
                "div",
                { className: "ia-skeleton-wrapper" },
                React.createElement(
                    "div",
                    { className: "ia-skeleton-col" },
                    React.createElement("div", { className: "ia-skeleton-media" }),
                    React.createElement("div", { className: "ia-skeleton-heading" }),
                    React.createElement(
                        "div",
                        { className: "ia-skeleton-body" },
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" })
                    )
                ),
                React.createElement(
                    "div",
                    { className: "ia-skeleton-col" },
                    React.createElement("div", { className: "ia-skeleton-media" }),
                    React.createElement("div", { className: "ia-skeleton-heading" }),
                    React.createElement(
                        "div",
                        { className: "ia-skeleton-body" },
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" })
                    )
                ),
                React.createElement(
                    "div",
                    { className: "ia-skeleton-col" },
                    React.createElement("div", { className: "ia-skeleton-media" }),
                    React.createElement("div", { className: "ia-skeleton-heading" }),
                    React.createElement(
                        "div",
                        { className: "ia-skeleton-body" },
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" })
                    )
                ),
                React.createElement(
                    "div",
                    { className: "ia-skeleton-col" },
                    React.createElement("div", { className: "ia-skeleton-media" }),
                    React.createElement("div", { className: "ia-skeleton-heading" }),
                    React.createElement(
                        "div",
                        { className: "ia-skeleton-body" },
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" }),
                        React.createElement("div", { className: "ia-skeleton-text" })
                    )
                )
            )
        ) : React.createElement(
            React.Fragment,
            null,
            React.createElement(
                "div",
                { className: "d-flex flex-column content-container-wrapper" },
                HasNews ? React.createElement(
                    React.Fragment,
                    null,
                    NewsItems.map(Item => {
                        console.log(Item);
                        return React.createElement(
                            "div",
                            { className: "mt-2 p-2 news-item-card", id: Item.NewsItemIdentifier,
                                "ak-item": Item.NewsItemIdentifier, "data-webid": Item.WebId, "data-siteid": Item.SiteId },
                            React.createElement(
                                "div",
                                { className: "w-100" },
                                React.createElement(
                                    "h4",
                                    { className: "ia-tag-title" + (Item.IsDeleted ? " ia-deleted-article" : "") },
                                    Item.IsDeleted ? React.createElement(
                                        "span",
                                        null,
                                        Item.Title
                                    ) : React.createElement(
                                        "a",
                                        { className: Akumina.Digispace.ConfigurationContext.IsSPAMode ? "ak-spalink" : "",
                                            href: Item.FriendlyUrl },
                                        Item.Title
                                    )
                                )
                            ),
                            React.createElement(
                                "div",
                                { className: "w-100 mt-auto" },
                                Item.PublishedDate && React.createElement(
                                    "span",
                                    { className: "display-date-light" },
                                    moment(Item.PublishedDate).format(Akumina.Digispace.SiteContext.DateFormat.monthdatelongyear)
                                )
                            ),
                            React.createElement(
                                "div",
                                { className: "w-100" },
                                React.createElement(
                                    "p",
                                    { 
                                        className: "display-date" ,
                                        dangerouslySetInnerHTML: { __html: Item.SPSummary }
                                    }
                                )
                            )
                        );
                    })
                ) : React.createElement(
                    "p",
                    null,
                    Akumina.Digispace.Language.TryGetText("fs.newswidget.nonewsfound")
                )
            ),
            React.createElement(
                "div",
                { className: "row mt-3" },
                React.createElement(
                    "div",
                    { className: "d-flex flex-row justify-content-end" },
                    React.createElement(
                        "a",
                        { "class": "ia-button", href: Handlebars.helpers.AddSPALink("/sitepages/tipoftheweek.aspx") },
                        Akumina.Digispace.Language.TryGetText("fs.newswidget.showmore")
                    )
                )
            )
        )
    ),
    VideoModal
);