<div class="d-flex flex-column w-100 h-100">
    <div class="row">
        <h3>{Akumina.Digispace.Language.TryGetText("announcementitems.title")}</h3>
    </div>
    <div style={{"overflow-y":"scroll",height:"500px"}}>
        {IsFetching ?
        <div className="ia-loading-state h-100">
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
            <div className="ia-skeleton-wrapper d-flex flex-direction-column">
                <div className="ia-skeleton-media"></div>
            </div>
        </div>
        :
        HasNews ?
        <div>
            {NewsItems.map((Item) => {
            return <div className="mt-2 p-2" id={Item.NewsItemIdentifier}
                        ak-item={Item.NewsItemIdentifier} data-webid={Item.WebId} data-siteid={Item.SiteId} style={{ "display": "flex", "flex-direction": "column", "align-items": "flex-start", "min-height": "100px", "background-color":"white", "border-top": "none", "border-right": "none", "border-left": "none", "border-bottom":"1px solid var(--fs-text-color-light-bg)"}}>
                <div className="w-100">
                    <h4 className={"ia-tag-title" + (Item.IsDeleted? " ia-deleted-article" : "" )}>
                        {Item.IsDeleted?
                        <span>{Item.Title}</span>:
                        <a className={Akumina.Digispace.ConfigurationContext.IsSPAMode ? "ak-spalink" : "" }
                           href={Item.FriendlyUrl}>{Item.Title}</a>
                        }
                    </h4>
                </div>
                <div className="w-100">
                    <p style={{"font-size":"14px"}}>{Item.SPSummary}</p>
                </div>
                <div className="w-100 mt-auto">
                    {Item.PublishedDate && <span style={{"font-size":"12px", color:"grey"}}>{moment(Item.PublishedDate).format(Akumina.Digispace.SiteContext.DateFormat.monthdatelongyear)}</span>}
                </div>
            </div>
            })}
        </div>
        :
        <p>{Akumina.Digispace.Language.TryGetText("fs.newswidget.nonewsfound")}</p>
        }
    </div>
    <div className="row mt-3">
        <div className="d-flex flex-row justify-content-end">
            <a class="ia-button" href={Handlebars.helpers.AddSPALink("/sitepages/newslist.aspx")}>
                {Akumina.Digispace.Language.TryGetText("fs.newswidget.showmore")}<i class="fa fa-chevron-right ia-chevron"></i>
            </a>
        </div>
    </div>
</div>