<div>
    {!IsFetching &&
    <React.Fragment>
        <h2>{Title}</h2>
        {SearchCriteria && 
            <React.Fragment>
                {EnableInterests && <button onClick={()=>OpenEditPreferencesPopup()}></button>}
                {SearchCriteria.map((radiofilter) => {
                return <a role="button" onClick={()=> SearchBasedOnSelectedCriteria(false,undefined, radiofilter, true)}>{radiofilter.Name}</a>})}                   
            </React.Fragment>
        }
        {SearchRefiners && EnableRefiners && 
            <React.Fragment>
                    {SearchRefiners.map((refiner) => {
                    return (refiner.Values && refiner.Values.length > 0 &&
                    <select value={refiner.SelectedValue}
                        onChange={()=>
                        FilterNewsFromRefiners(event, refiner)}>
                        {refiner.Values.map((value) =>
                        <option selected={refiner.SelectedValue==value} value={value}>{value}</option>)}
                    </select>)
                    })}
            </React.Fragment>
        }
        <a className={Akumina.Digispace.ConfigurationContext.IsSPAMode ? "ak-spalink" : "" } href={Akumina.Digispace.Utilities.CreatePageLink(Akumina.Digispace.SiteContext.WebAbsoluteUrl+"#/sitepages/newslist.aspx")}>{Akumina.Digispace.Language.TryGetText("fs.newswidget.viewall")}</a>
        
        {HasNews ?
            <React.Fragment>
                {NewsItems.map((Item) => {
                return <ul>
                    <li><img src={Item.DisplayDefaultImage ? DefaultImageSrc : (Item.ThumbnailUrl ? Item.ThumbnailUrl : Item.ImageUrl)} alt="" /></li>
                    <li>
                        {Item.VideoUrl &&<video width="100%" controls id="fs-video-play">
                            <source src={Item.VideoUrl} type="video/mp4" />
                        </video>}
                    </li>
                    {Item.Featured && <li> {Akumina.Digispace.Language.TryGetText("fs.newswidget.featured")}</li>}
                    <li>{Item.Categories && Item.Categories.map((category: string) => <span>#{category}</span>)}</li>
                    <li><a className={Akumina.Digispace.ConfigurationContext.IsSPAMode ? "ak-spalink" : "" } href={Item.FriendlyUrl}>{Item.Title}</a></li>
                    {Item.Publisher && Item.Publisher.ProfilePicture && <li><img alt={Item.Publisher.Name} src={Item.Publisher.ProfilePicture} /></li>}
                    {Item.Publisher && Item.Publisher.Name && <li><div onClick={()=>HandlePublisherClick(event,Item.Publisher.Email)}><a href="javascript:void(0);">@{Item.Publisher.Name}</a></div></li>}
                    
                    {Item.PublishedDate && <li>{Item.PublishedDate.format(Akumina.Digispace.SiteContext.DateFormat.monthdatelongyear)}</li>}
                    <li>{Item.ReadingTime}&nbsp;{Akumina.Digispace.Language.TryGetText("fs.newswidget.readingtime")}</li>
                    <li>{Item.ViewsCount}</li>
                    <li>{Item.Reactions && Item.Reactions.length > 0 && Item.Reactions.map((reaction) => <div title={reaction.Label}>{reaction.Count}</div>)} </li>
                    <li>{Item.CommentsCount}</li>
                </ul>})}
            </React.Fragment>
            :
            (IsFetching ? null : <p>{Akumina.Digispace.Language.TryGetText("fs.newswidget.nonewsfound")}</p>)
        }


        {DisplayShowMoreButton && !IsFetching && <button onClick={()=>ShowMore()}>{Akumina.Digispace.Language.TryGetText("fs.newswidget.showmore")}</button>}
    </React.Fragment>
    }
</div>