{{! This view does not match what is from Akumina. It should be updated at some point and then our customized view updated from it. }}
<div ak-item="" class="interAction ak-widget-item">
    {{#if Loading}}
    <div class="ak-instagram-feed" style="margin:0px !important">
        <div class="ak-instagram-top">
            <a href="#photo-popup" class="ia-modal-inline-trigger-photo">
                <div class="ak-shade-overlay"></div>
            </a>
            <span class="ak-instagram-tab">{{translate "genericlist.latestphotos"}}</span>
        </div>
        <div class="ak-instagram-item-wrap">
            <div class="ak-instagram-item">
                <a href="#photo-popup" class="ia-modal-inline-trigger-photo">
                    <div class="ak-instagram-image">
                    </div>
                </a>
            </div>
            <div class="row">
                <div class="small-12 columns">
                    <a href="#" class="ak-featured-video-more ak-module-more-link">{{ViewMoreText}} &rsaquo;</a>
                </div>
            </div>
        </div>
    </div>
    {{else}}
    <div class="ak-instagram-feed" style="margin:0px !important">
        {{#if HasItems}}
        <div class="ak-instagram-top">
            <a href="#photo-popup" class="ia-modal-inline-trigger-photo">
                <img src="{{HeaderImage}}" />
                <div class="ak-shade-overlay"></div>
            </a>
            <span class="ak-instagram-tab">{{translate "genericlist.latestphotos"}}</span>
        </div>
        <div class="ak-instagram-item-wrap">
            {{#Items}}
            <div class="ak-instagram-item">
                <a href="#photo-popup" class="ia-modal-inline-trigger-photo">
                    <div class="ak-instagram-image">
                        <img src="{{Image}}" />
                    </div>
                </a>
            </div>
            {{/Items}}
            {{#if showViewMore}}
            <div class="row">
                <div class="small-12 columns">
                    <a href="{{ViewMoreLink}}" class="ak-featured-video-more ak-module-more-link">{{ViewMoreText}} &rsaquo;</a>
                </div>
            </div>
            {{/if}}
        </div>
        {{else}}
        <h2>{{translate "genericlist.nofeaturedphotos"}}</h2>
        {{/if}}
    </div>
    <!-- end instagram-feed -->

    {{/if}}

</div>
<script type="text/javascript">
    $('.ia-modal-inline-trigger-photo').magnificPopup({
        type: 'inline',
        preloader: false,
        closeBtnInside: true,
        showCloseBtn: true,
        fixedBgPos: true,
        mainClass: 'ak-photo-modal'
    });
    $('.ia-modal-inline-trigger-photo').on('click', function () {
        $('.imagepreview').attr('src', $(this).find('img').attr('src'));
    });
</script>