/************************************
*             Font
************************************/
.tippy-box .tippy-content,
.ia-page-wrapper,
blockquote.ia-blockquote:before,blockquote.ia-blockquote:after,
.fs-modal,.ia-modal,
.ia-news-list,
.ck-content blockquote.ia-blockquote:before,.ck-content blockquote.ia-blockquote:after,

.ia-page-wraper > header,
.ia-page-wraper > footer,
.ia-page-wraper > div,
.ia-page-wraper,
body{
    font-family: "Open Sans", sans-serif !important;
}


/************************************
*     To Hide Akumina Branding 
************************************/
.ak-theme-ncitheme .ia-masanory-grid .ia-card.ia-default {
    background-image: unset;
}

.ak-theme-ncitheme .ia-masanory-grid .ia-card.ia-default .ia-card-image {
    background-image: unset;
}

/*for smaller square*/

.ak-theme-ncitheme .ia-related-news-item .ia-item-img.ia-default-image,
.ak-theme-ncitheme .ia-masanory-grid .ia-card.ia-default .ia-card-image {
    background-image: none;
    background-color: var(--nci-red);
    mask-image: url(images/no-image-triangles.svg);
    mask-repeat: no-repeat;
    mask-position: 0% 0%;
    mask-size: cover;
}

/*full size*/
/*
.ak-theme-ncitheme .ia-masanory-grid .ia-card.ia-default::before {
    background-color: #bb0e3d;
    background-color: var(--nci-red);
    mask-image: url(images/no-image-triangles.svg);
    mask-repeat: no-repeat;
    mask-position: 50% 0%;
    mask-size: cover;
    display: block;
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
}

.ak-theme-ncitheme .ia-masanory-grid.ia-list-view .ia-card.ia-default .ia-card-image{
    display: none;
}
*/

.ak-theme-ncitheme .ia-masanory-grid.ia-list-view .ia-card.ia-default::before {
    position: unset;
}

#HomeNewsEventsTabs .ia-card .ia-card-footer .ia-post-by {
	display: none !important;
}

.ia-tab-widget-container.nci-tabs .ia-tab-item a:after {
    display: none !important;
}

.ia-tab-widget-container.nci-tabs .ia-tabs {
    border-bottom: none;
}

.ia-tab-widget-container.nci-tabs .ia-tab-item a {
    margin-bottom: 20px;
}

.nci-tabs-news .make-hidden {
    display: none !important;
}

.ia-tab-widget-container.nci-tabs .ia-masanory-grid-view-toggle {
    top: -50px;
}


/* sidebar lists */
.ia-item-img img[src*="css/images/card-default.svg"] {
    visibility: hidden;
}

.ia-item-img:has(img[src*="css/images/card-default.svg"]) {
    background-color: var(--fs-white);
}

.ia-item-img:has(img[src*="css/images/card-default.svg"])::before {
    background-color: #bb0e3d;
    background-color: var(--nci-red);
    mask-image: url(images/no-image-triangles.svg);
    mask-repeat: no-repeat;
    mask-position: 50% 0%;
    mask-size: cover;
    display: block;
    content: '';
    position: absolutex;
    height: 100%;
    width: 100%;
}


/************************************
*           General Fixes
************************************/
.ak-theme-ncitheme .assessibility-hidden-text {
    display: none;
}

.ak-theme-ncitheme .ia-content-wrapper:before {
    background-color: #f1f1f1;
    background-image: none;
    display: none !important;
}

/* fix slw top spacing */
/*.ia-slw-featured.ia-slw.ia-widget-wrapper,*/
.ak-theme-ncitheme .ia-apps-list.ia-apps-selected-list,
.important-dates-modern,
.news-home-page,
.featured-photos-widget.ia-widget-wrapper,
.ia-slw.ia-widget-wrapper{
    margin-bottom: var(--fs-widgets-bottom-spacing);
}


/************************************
*              Header
************************************/
.ak-theme-ncitheme .fs-header .ia-top-header .ia-logo-wrapper img {
	max-width: 90%
}

/* fix scaling */
.ia-page-wrapper.ia-mega-menu-always-open .fs-header .ia-top-header {
    padding: 12px 24px !important;
}

/************************************
*               Footer
************************************/
.ak-theme-ncitheme .ia-footer .ia-top-footer {
    background-color: var(--nci-night-blue);
}

.ak-theme-ncitheme .ia-footer .ia-top-footer span,
.ak-theme-ncitheme .ia-footer .ia-top-footer a {
    color: var(--fs-white) !important;
}

.ak-theme-ncitheme .ia-footer .ia-top-footer.ia-load-form-link a,
.ak-theme-ncitheme .ia-footer .ia-top-footer.ia-load-form-link span {
    color: var(--fs-primary-color) !important;
}

/************************************
*        Site Alerts Banner
************************************/
.ak-theme-ncitheme .ia-site-alerts {
    margin-bottom: var(--fs-widgets-bottom-spacing);
    margin-bottom: calc(36px + var(--fs-gutter-space));
}

/************************************
*     Top Navigation Mega Menu
************************************/
.ak-theme-ncitheme .ia-mega-menu {
    background-color: var(--fs-white);
    color: var(--nci-mid-gray);
}

.ak-theme-ncitheme .ia-mega-menu a {
    color: var(--nci-mid-gray);
}
.ak-theme-ncitheme .ia-mega-menu i {
    color: inherit;
}

.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-submenu-wrapper.fs-is-open {
    display: inline-block;
}

/* fix scaling */
.ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-menu-toggle {
    color: var(--fs-dark-primary-color) !important;
    top: -75px !important;
}

.ak-theme-ncitheme .ia-mega-menu .ia-menu-level-1-link.fa-chevron-down::before {
	content: none;
}

/* closed */
.ak-theme-ncitheme .ia-mega-menu .ia-menu-level-1-link.fs-js-expand-menu i.fa-chevron-up::before {
	content: "\f078";
}

/* expanded*/
.ak-theme-ncitheme .ia-mega-menu .ia-menu-level-1-link.fs-js-collapse-menu i.fa-chevron-up::before {
	content: "\f077";
}

.ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 > li {
    padding-right: 12px !important;
    margin-right: 0px !important;
}

.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 .ia-menu-level-1-link {
    color: var(--fs-secondary-color);
}

.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 .ia-menu-level-1-link i {
    color: inherit;
}

.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 .ia-menu-level-1-link:hover {
    color: var(--fs-primary-color);
}

.ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 .ia-menu-level-2-link {
    font-size: 20px;
}

.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 .ia-menu-level-2-link:after,
.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-3 .ia-menu-level-3-link:after {
    display: none;
}

.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 .ia-menu-level-2-link:hover,
.ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-3 .ia-menu-level-3-link:hover {
    text-decoration-line: underline;
    background-color: var(--fs-primary-color);
}

.ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-3 .ia-menu-level-3-link {
    font-size: 16px;
}

/* Desktop and above Media Query */

@media screen and (min-width: 1205px) {

    .ak-theme-ncitheme .ia-mega-menu .ia-menu-submenu-wrapper a,
    .ak-theme-ncitheme .ia-mega-menu .ia-menu-submenu-wrapper i {
        color: var(--fs-white) !important;
    }

    /* Menu Level 1 */
    .ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 .ia-menu-level-1-link {
        margin-bottom: 0px;
        padding-bottom: 5px;
        padding: 15px;
    }

    .ak-theme-ncitheme .ia-mega-menu .ia-menu-level-1>.ia-has-submenu:has(.ia-menu-submenu-wrapper.fs-is-open) .ia-menu-level-1-link {
        background-color: var(--fs-mega-menu-sub-bg-color);
    }

    .ak-theme-ncitheme .ia-mega-menu .ia-menu-level-1>.ia-has-submenu:has(.ia-menu-submenu-wrapper.fs-is-open) .ia-menu-level-1-link a,
    .ak-theme-ncitheme .ia-mega-menu .ia-menu-level-1>.ia-has-submenu:has(.ia-menu-submenu-wrapper.fs-is-open) .ia-menu-level-1-link i {
        color: var(--fs-white) !important;
    }

    .ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 .ia-menu-level-1-link>a.fs-selected:after {
        display: none;
    }

    .ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-1 .ia-menu-level-1-link>a.fs-selected:hover:after {
        background-color: white;
        display: block;
    }
        
    /* Menu Level 2 and Menu Level 3 */
    .ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2,
    .ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menut-level-3 {
        color: var(--fs-white);
    }

    .ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 .ia-menu-level-2-link,
    .ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-3 .ia-menu-level-3-link {
        color: var(--fs-white);
    }
}

/* Below Desktop Media Query */

@media screen and (max-width: 1204px) {
    .ak-theme-ncitheme .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-submenu-wrapper {
        background-color: unset;
    }
        
    .ak-theme-ncitheme .ia-mega-menu .ia-menu-submenu-wrapper a {
        color: var(--nci-mid-gray);
    }

    .ak-theme-ncitheme .ia-mega-menu .ia-menu-submenu-wrapper a:hover,
    .ak-theme-ncitheme .ia-mega-menu .ia-menu-submenu-wrapper i:hover 
    .ak-theme-ncitheme .ia-mega-menu .ia-menu-submenu-wrapper a:hover i {
        color: var(--fs-white);
    }

    /* fixes  mobile scroll */
    .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-close-menu {
        position: fixed;
    }

    /* fixes  mobile scroll */
    .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu.fs-is-open {
        overflow-y: auto;
        max-height: 100%;
        padding-bottom: 36px;
    }

    /* fixes mobile scroll */
    .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 {
        max-height: unset;
    }

    .ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 .ia-menu-level-2-link,
    .ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-3 .ia-menu-level-3-link {
        color: var(--nci-mid-gray);
    }

    .ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-2 .ia-menu-level-2-link:hover,
    .ak-theme-ncitheme .ia-page-wrapper.ia-mega-menu-always-open .ia-mega-menu-wrapper .ia-mega-menu .ia-menu-level-3 .ia-menu-level-3-link:hover {
        color: var(--fs-white);
    }
}


/************************************
*           Breadcrumbs
************************************/
.breadcrumb.ia-breadcrumb {
    overflow: hidden;
}

.breadcrumb.ia-breadcrumb li {
    overflow: hidden;
    overflow-wrap: break-word;
    max-width: 100%;
}

/* wcag fix for breadcrumbs */
.ak-theme-ncitheme .ia-breadcrumb .breadcrumb-item {
	color: var(--fs-dark-primary-color);
}


/************************************
*      Quick Links HomePage Apps

            Mission Control
************************************/
.ak-theme-ncitheme .ia-mission-control.fs-js-active:before {
    background-color: var(--fs-white);
}

.ak-theme-ncitheme .ia-apps-list.ia-apps-selected-list {
    margin-top: 0;
}

.ak-theme-ncitheme .ia-misson-control-wrapper .ia-apps-list.ia-apps-selected-list {
    margin-top: 36px;
    margin-bottom: 44px;
}


/************************************
*   Latest From Leadership Widget
************************************/
.leadership-slw .ia-slw-article-desc {
    color: var(--fs-text-color);
    font-size: 16px;
}

.leadership-slw .ia-slw-thumbails-lists.ia-card {
    height: "500px";
    overflow-y: auto;
}


/************************************
* Tip of the Week, Announcement Items,
and Important Events (Upcoming Events)
************************************/
/* latest from leadership doesn't have display date anymore */
.leadership-slw .display-date,
.ak-theme-ncitheme .event-display-date,
.ak-theme-ncitheme .event-time-range,
.ak-theme-ncitheme .w-100.mt-auto span {
    font-size: 14px !important;
    color: var(--nci-gray) !important;
}

.ak-theme-ncitheme .d-flex.flex-column.w-100.h-100 .mt-2.p-2 p {
    padding-top: 7px;
}


/************************************
*             Calendar

         Also called Events
************************************/
.ak-theme-ncitheme .fc-event.ia-regular-event .fc-content:before,
.ak-theme-ncitheme .fc-event.ia-featured-event .fc-content:before {
    background-color: var(--fs-primary-color);
}

.ak-theme-ncitheme .fc-event.ia-regular-event.ia-allday-event {
    background-color: var(--fs-primary-color);
    border: 1px solid var(--fs-primary-color);
}

.ak-theme-ncitheme .fc-event.ia-regular-event.ia-multiday-timed-event {
    color: var(--fs-white);
    background-color: var(--fs-primary-color);
    border: 1px solid var(--fs-primary-color);
}

.ak-theme-ncitheme .ia-media-library .ia-search-utility .ia-search-area ul li a {
    color: var(--fs-load-form-link-bg-color);
}

.ak-theme-ncitheme .ia-user-personalization .ia-groups .ia-group-item {
    background-color: var(--fs-chip-bg-color);
}

.ak-theme-ncitheme .ia-accordion .ia-accordion-header .ia-accordion-toggle {
    color: var(--fs-primary-color);
}

.ak-theme-ncitheme .ia-media-library .ia-search-utility .ia-search-area ul li a {
    color: #545555;
}

.ak-theme-ncitheme .ia-user-personalization .ia-groups .ia-group-item.fs-selected {
    border-color: var(--fs-checkbox-selected-border-color);
    box-shadow: 0 0 0 1px var(--fs-checkbox-selected-border-color);
}

.ak-theme-ncitheme .fc-day-number {
    border: 1px solid !important;
    border-bottom: 0 !important;
}

.ak-theme-ncitheme .fc-event-container {
    border-right: 1px solid !important;
}

.ak-theme-ncitheme .fc-day-number {
    border: 1px solid var(--nci-light-gray) !important;
    border-bottom: 0 !important;
}

.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container .fc-body td {
    border-right: 1px solid var(--nci-light-gray) !important;
    border-left: 1px solid var(--nci-light-gray) !important;
}

.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container,
.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container table thead tr {
    border-bottom: 1px solid;  
}

.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container .fc-row.fc-week.fc-widget-content table thead tr {
    border-bottom: 0;
}

.ak-theme-ncitheme .fc-day-number,
.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container .fc-body td,
.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container table thead tr,
.ak-theme-ncitheme .ia-calendar-grid.fc.fc-ltr.fc-unthemed .fc-view-container {
    border-color: var(--nci-light-gray);
}


/************************************
*       Calendar Details Page

   Also called Events Detail Page
************************************/
.ak-theme-ncitheme .ia-calendar-detail .ia-article-section-right .ia-calender-attributes,
.ak-theme-ncitheme .ia-calendar-detail.ia-widget-wrapper,
.ak-theme-ncitheme .ia-calendar-detail.ia-widget-wrapper .ia-article-description,
.ak-theme-ncitheme .ia-page-wrapper .ak-foundation-page-wrapper.ia-content-wrapper {
    overflow: hidden;
}

.ak-theme-ncitheme .ia-calendar-detail .ia-calendar-header .h2,
.ak-theme-ncitheme .ia-calendar-detail.ia-widget-wrapper .ia-article-description,
.ak-theme-ncitheme .ia-calendar-detail .ia-article-section-right .ia-calender-attributes .ia-calender-datetime-location,
.ak-theme-ncitheme .ia-calendar-detail .ia-article-section-right .ia-calender-attributes .ia-calender-datetime-location span {
    overflow: hidden;
    overflow-wrap: break-word;
}

/* Reference to logo which NCI wants to use for meetings on the EventDetail page */
.ia-logo-nci-meeting {
    /*background-color: #f1f1f1;*/
    background-image: url('./images/nci-calendar-icon-v3.png') !important;
}

.ak-theme-ncitheme .ia-calendar-detail .ia-article-section-right .ia-calender-attributes .ia-calendar-teams-link a .ia-logo-icons-24px {
    margin-left: -4px;
}

/* might be for image resizing? can't find where ia-content-info is */
.ak-theme-ncitheme .ia-article .ia-article-section .ia-content-info img {
	height: fit-content;
}


/************************************
*          Featured Photos
************************************/
.ak-theme-ncitheme .slider {
    width: 100%;
    margin: 0 auto 20px;
    text-align: center;
}

.ak-theme-ncitheme .slider .photos {
    position: relative;
    height: 300px;
}
.ak-theme-ncitheme .featured-photos-widget .ia-header--title {
    margin-bottom: 1rem;
}

/*slick slide version*/
.featured-photos-widget .photoSlide {
    height: 300px;
    background-position: center;
    background-size: cover;
}

.featured-photos-widget .slick-dots {
    transform: translateY(40px);
}

.featured-photos-widget .slick-dots button::before {
    display: none;
}

.featured-photos-widget .slick-dots li {
    height: 10px;
    width: 10px;
}

.featured-photos-widget .slick-dots button {
    background-color: none;
    border: 1px solid black;
    border-radius: 1000px;
    height: 10px;
    width: 10px;
}

.featured-photos-widget .slick-dots .slick-active button{
    background-color: black;
}

.featured-photos-widget .slick-arrow{
    height: 100%;
    border-radius: 0;
    opacity: 1;
    background: #0007;
}

.featured-photos-widget .slick-prev:focus,
.featured-photos-widget .slick-prev:hover,
.featured-photos-widget .slick-prev{
    left: 0;
    background: linear-gradient(90deg, #0007 0%, #0000 100%);
    outline: none;
}

.featured-photos-widget .slick-next:focus,
.featured-photos-widget .slick-next:hover,
.featured-photos-widget .slick-next{
    right: 0;
    background: linear-gradient(-90deg, #0007 0%, #0000 100%);
    outline: none;
}

.featured-photos-widget .slick-arrow:before{
    font-size: 20px;
}
/*slick slide version*/

/*
.ak-theme-ncitheme .slider .photos img {
    width: 100%;
    height:100%;
    position: absolute;
    left: 0;
    opacity: 0;
    transition: opacity 1s;
}

.ak-theme-ncitheme .slider .photos img.shown {
    opacity: 1;
}
*/
.photo-gallery-view-all-container {
    margin-top: 1rem;
}

.ak-theme-ncitheme .prev:before, .ak-theme-ncitheme .next:before {
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 35%;
    cursor: pointer;
}

.ak-theme-ncitheme .prev:before {
    content: '<';
    left: 10px;
}

.ak-theme-ncitheme .next:before {
    content: '>';
    right: 10px;
}

#ak-tabwidget-tabs-PeopleTab .ia-people-results {
    display:block !important
}


/************************************
* General Card Styling for ALL cards
************************************/
.ia-card {
	color: #000000 !important;
}

.ia-card a:not(.ak-spalink, .ia-profile-name, .share-button) {
	color: #01679d !important;
}


/************************************
*       General Card Styling

   Important Dates (Upcoming Events), 
      News HomePage, Featured News
************************************/
/* Card Containers */
.featured-news .content-container-wrapper {
    margin-top: 1rem;
}

.important-dates-modern .content-container-wrapper>div {
    padding-right: 0;
}

.important-dates-modern .content-container-wrapper,
.news-home-page .content-container-wrapper {
    margin-top: 1rem;
    overflow-y: auto; 
    height: 500px;
}

/* Card Bodies */
.important-dates-modern .dates-item-card {
    background-color: white; 
    padding: 10px; 
    border: 1px solid var(--fs-text-color-light-bg); 
    border-radius: 5px;
    min-height: 100px;

    margin-top: 0 !important;
    margin-bottom: 8px !important;
}

.news-home-page .news-item-card,
.featured-news .news-item-card {
    background-color: white; 
    padding: 10px;;
    border: 1px solid var(--fs-text-color-light-bg);
    border-radius: 5px;;
    min-height: 100px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;

    margin-top: 0 !important;
    margin-bottom: 8px !important;
}

/* Card Contents */
.important-dates-modern .dates-item-card .day-tile {
    background-color: var(--fs-text-color-light-bg); 
    max-height: 75px; color: white; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
}

.important-dates-modern .news-item-card .display-date-light {
    font-size: 12px; 
    color: grey;
}

.important-dates-modern .dates-item-card .display-date,
.news-home-page .news-item-card .display-date,
.featured-news .news-item-card .display-date {
    font-size: 14px;
}


/************************************
*          Featured News
************************************/
.ak-theme-ncitheme .ak-summarylinks-container .ia-slw-featured.ia-slw.ia-widget-wrapper .ia-slw-featured-items .col-12.col-md-6.col-lg-4.ak-slw-item {
	padding-bottom: 24px;
}


/************************************
*  Staff Spotlights HomePage Widget

    (Blogs List Homepage Widget)
************************************/
#HomeNewsEventsTabs.ia-news-list.ia-widget-wrapper.custom-event-list>h2:first-of-type{
	position: absolute;
}
#HomeNewsEventsTabs.ia-news-list.ia-widget-wrapper.custom-event-list:has(.ia-grid-utility-container .ia-grid-utility-left-col .ia-list-action .fs-js-search-refiner-widget div)>h2:first-of-type{
    position: unset;
}

#HomeNewsEventsTabs.ia-news-list.ia-widget-wrapper.custom-event-list .ia-masanory-grid .ia-card,
#HomeNewsEventsTabs.ia-news-list.nci-tabs-news .ia-masanory-grid .ia-card {
	height: 430px;
}

#HomeNewsEventsTabs.ia-news-list.nci-tabs-news .blog-header {
	display: flex;
}

#HomeNewsEventsTabs.ia-news-list.nci-tabs-news .ia-masanory-grid-view-toggle {
	margin-right: 0;
	margin-left: auto;
}

/* WCAG fix - touches both Homepage and Listing page */
.ak-theme-ncitheme .ia-news-list .ia-tag-collection {
	display: none;
}


/************************************
*       Staff Spotlights Page

          (Blogs List Page)
************************************/
.ak-theme-ncitheme .ia-post-by.ia-post-by-blogs-home {
    border: none !important;
}

/* Staff Spotlight Page*/
.ak-theme-ncitheme .ia-tab-widget-container .ui-state-active a, 
.ak-theme-ncitheme .ia-tab-widget-container .ui-widget-content .ui-state-active a, 
.ak-theme-ncitheme .ia-tab-widget-container .ui-widget-header .ui-state-active a, 
.ak-theme-ncitheme .ia-tab-widget-container .fs-tab-item.ia-tab-active a{
    font-weight: 600;
    font-size: clamp(25px, 25px, 25px);
    padding-bottom: calc(var(--fs-gutter-space) / 3);
}


/************************************
*           News Detail

        Detail Page for Blogs
  (Announcements & Staff Spotlights)
************************************/
.ak-theme-ncitheme .teams-share-button img,
.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-social-info .ia-social-info-top .ia-social-info-top-icon a {
    filter: hue-rotate(270deg);
}

.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-social-info .ia-social-info-top .ia-social-info-top-icon i {
    color: #d417b6;
}

.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-social-info .ia-social-info-top .ia-social-info-top-icon a.ia-share-buttons.ia-linkedin,
.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-social-info .ia-social-info-top .ia-social-info-top-icon a.ia-share-buttons.ia-share-ms-teams,
.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-social-info .ia-social-info-top .ia-social-info-top-icon a.ia-share-buttons.ia-share-yammer {
	display: none;
}

.ak-theme-ncitheme .ia-tab-widget-container .ia-tab-item .ui-tabs-anchor:after {
	display: none;
}

.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-social-info .ia-social-info-top .ia-social-info-top-icon a.ia-share-buttons.ia-twitter {
	margin-left: 0px;
}

/* WCAG fix */
.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right .ia-article-tag {
	opacity: 1;
}

.ak-theme-ncitheme .ia-article .ia-article-section .ia-article-section-left {
    overflow-wrap: break-word !important;
}

.ak-theme-ncitheme .ia-article .ia-article-header .ia-article-header-right h2 {
    -webkit-box-orient: unset !important;
}

/************************************
*    News Detail - Expanded field

    Right Sidebar on Detail Pages
************************************/
@media (max-width: 768px) {
    .newsdetail-display-contacts,
    .newsdetail-display-organization{ padding-left: 0;}
}

.newsdetail-display-contacts,
.newsdetail-display-organization {
    padding-left: calc(var(--fs-gutter-space) / 2);
}

/*expanded field contacts*/

.internal-display-contacts,
.internal-display-organization,
.event-display-contacts,
.event-display-organization,
.newsdetail-display-contacts,
.newsdetail-display-organization,
.expanded-fields-contacts,
.expanded-fields-organization {
    margin-bottom: 30px;
    color: black;
}

.expanded-fields-contacts {
    margin-top: 30px;
}

.newsdetail-display-contact {
    margin-top: 0;
}

.expanded-fields-contacts .contact-box {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    flex-wrap: wrap;
    flex-grow: 1;
}
.expanded-fields-contacts .contact-box>div {
    width: 50%;
    min-width: 200px;
    margin-bottom: 10px;
}

.expanded-fields-contacts h3,
.expanded-fields-organization h3{
	font-size: 24px;
    margin-bottom: 12px;
}

.expanded-fields-contacts .contact-profile-image {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    overflow: hidden;
    
    background-position: center;
    background-size: cover;
    
    background-image: url('./images/profile.png');
}

.expanded-fields-contacts .contact-profile-image div {
    width: 100%;
    height: 100%;
    
    background-position: center;
    background-size: cover;
}

.expanded-fields-contacts .ia-author-name,
.expanded-fields-organization div {
	font-size: 18px;
    font-weight: 600;

    font-weight: 400;
    font-size: 16px;
}

.expanded-fields-contacts .ia-article-author-status {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    gap: 14px;
    /*text-transform: uppercase;*/
}


/************************************
*   Organization Directory Page
************************************/
/* Content tab*/
#organizationdirectorytabwidget .ia-refiners-list {
    display: none;
}

/* Content tab body */
#organizationdirectorytabwidget .fs-search-result-wrapper {
    display: block;
}

/* Slick track is Overview, People, and Content tabs */
.ak-theme-ncitheme #organizationdirectorytabwidget nav>ul>.slick-list.draggable .slick-track {
	transform: translate3d(0,0,0) !important;
}

/* Tab item is Overview, People, and Content tabs */
#organizationdirectorytabwidget .ia-tab-item a {
	font-size: clamp(25px, 3vw, 36px) !important;
}


/************************************
*   Organization Directory Page

        Organization Filter
    (also called People Filter)
************************************/
.ak-theme-ncitheme .ia-org-chart .ia-org-chart-user-icons a.ia-ms-teams {
    filter: hue-rotate(240deg);
}

.ia-people-filter-section {
    font-size: 14px;
}

.ia-people-filter {
    width: 330px;
}

/* removes ellipsis and truncated overflow to allow text to extend to next line */
#filtertreenav .truncate {
    display: inline-block;
    max-width: 90%;
    overflow: visible;
    white-space: break-spaces;
    margin-right: 6px;
    text-overflow: ellipsis;
    /* OLD
    max-width: 38ch; limit to 50 characters 
    overflow: hidden;
    white-space: nowrap;
    */
}

#filterpeoplefinder {
    display: none;
}

/* changes background color of Org Directory filter box to white */
.ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-filters .ia-people-filter-wrapper {
	background: var(--fs-white) !important;
}

.ia-people-filter-wrapper {

	/* changes hover color to grey and extends width of hover highlight*/
	.jstree-default .jstree-hovered {
		width: 100%;
		background: #f0f0f0;
		border-radius: unset;
		box-shadow: unset;
	}

	.jstree-default .jstree-context {
		width: 100%;
		background: #f0f0f0;
		border-radius: unset;
		box-shadow: unset;
	}
	/* changes clicked color to grey and extends width of clicked highlight */
	.jstree-default .jstree-clicked {
		width: 100%;
		background: #f0f0f0;
		border-radius: unset;
		box-shadow: unset;
	}

	/* unsets height size to allow room for wrapped text */
	.jstree-default .jstree-anchor {
		height: unset;
	}

	/* removes the folder icon and associated spacing for it */
	.jstree-default .jstree-themeicon {
		display: none;
	}

	/* removes current open icon and replaces it with a new open icon */
	.jstree-default .jstree-open>.jstree-ocl {
		background-position: unset;
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M16.59 8.59003L12 13.17L7.41 8.59003L6 10L12 16L18 10L16.59 8.59003Z" fill="%231B1B1B"/></svg>') !important;
	}

	/* removes current closed icon and replaces it with a new closed icon */
	.jstree-default .jstree-closed>.jstree-ocl {
		background-position: unset;
		background-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"><path fill-rule="evenodd" clip-rule="evenodd" d="M9.99984 6L8.58984 7.41L13.1698 12L8.58984 16.59L9.99984 18L15.9998 12L9.99984 6Z" fill="%231B1B1B"/></svg>') !important;
	}

	/*  adds border between each branch name */
	.jstree-node {
		position: relative !important;
		overflow: hidden !important;
		border-top: 1px solid #DFE1E2;
	}
	
	/*  adjusts the top and bottom padding for branch names */
	.jstree-anchor {
		padding: 6px 4px 6px 2px;
	}

	/* moves the new arrow icons to be in line with the text */
	i.jstree-icon.jstree-ocl {
		margin-top: 6px;
	}

	/* removes the background-image for the old icons */
	.jstree-default .jstree-node,.jstree-default .jstree-icon {
		background-image: unset;
	}
	
	/* unsets the background position that was used for the old icons
		to make sure the new icons can display properly */
	.jstree-default .jstree-leaf>.jstree-ocl {
		background-position: unset;
	}
	
	/* unsets the background position that was used for the old icons
		to make sure the new icons can display properly */
	.jstree-default>.jstree-no-dots .jstree-open>.jstree-ocl {
		background-position: unset;
	}
	
	/* unsets the background position that was used for the old icons
		to make sure the new icons can display properly */
	.jstree-default>.jstree-no-dots .jstree-closed>.jstree-ocl {
		background-position: unset;
	}
	
	/* unsets the background position that was used for the old icons
		to make sure the new icons can display properly */
	.jstree-default .jstree-node,.jstree-default .jstree-icon {
		background-repeat: unset;
		background-color: unset;
	}
}


/****************************************
*             Org Directory

          People Directory Tab
****************************************/
/* Font size for Employee Card names */
#organizationdirectorytabwidget a.ia-profile-name.fs-js-profile-name {
    font-size: 18px;
}

/* spacing for People Directory tab in Organization Directory */
.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
	width: calc(100vw - 150px);
}

.ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid .ia-profile-container {
	padding: 12px
}

/* adjusting these media queries prevents overflow of the Org Directory People cards on the larger breakpoints */
@media screen and (min-width: 770px) {
	.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
		width: calc(100vw - 200px);
	}

	.ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid .ia-profile-container {
		padding: calc(var(--fs-gutter-space) / 2);
	}
}

@media screen and (min-width: 992px) {
	.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
		width: calc(100vw - 480px);
	}
}

@media screen and (min-width: 1025px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 500px);
    }
}

@media screen and (min-width: 1600px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 500px);
        max-width: 95%;
    }
}

@media screen and (min-width: 1700px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 500px);
        max-width: 95%;
    }
}

@media screen and (min-width: 1750px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 100px);
        max-width: 95%;
    }
}

/* Old Media Query Code

@media screen and (min-width: 1025px) {
	.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
		width: calc(100vw - 490px);
	}
}

@media screen and (min-width: 1600px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 550px);
    }
}

@media screen and (min-width: 1700px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 600px);
    }
} 

@media screen and (min-width: 1750px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 800px);
    }
}
*/


/****************************************
*           People Directory
 
 Also used in Org Directory - People Tab
****************************************/
/* makes email lowercase for Org and People Directory cards */
.dir-mail a, .people-dir-mail a {
    text-transform: lowercase;
}

/* changes People profile details back to correct color */
.ia-profile-details {
	color: var(--fs-card-link-color) !important;
}

.ia-people-directory .ia-profile-details .ia-profile-office {
    display: none !important
}

.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-results .ia-people-results-grid .ia-profile-container .ia-msteams::before {
    filter: hue-rotate(300deg);
}

 .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-results .ia-people-results-grid .ia-profile-container .ia-profile-avatar {
    background: var(--fs-accent-color) url(images/icon-profile-default-bg.svg) no-repeat center center;
}

.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-results .ia-people-results-grid .ia-profile-container .ia-profile-details .ia-profile-office,
.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-results .ia-people-results-grid .ia-profile-container .ia-profile-details .ia-profile-dept,
.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-results .ia-people-results-grid .ia-profile-container .ia-profile-details .ia-profile-title,
.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section .ia-people-results .ia-people-results-grid .ia-profile-container .ia-profile-details .ia-profile-manager {
	opacity: 1;

}

/* Hides filtering if no filter content */
.ia-people-directory-section .ia-people-filter-section {
    grid-template-columns: 1fr !important;
}

.ia-people-directory-section .ia-people-filter-section .ia-people-filters {
    display: none !important;
}


.ia-people-directory-section.nciorg .ia-people-filter-section {
    grid-template-columns: 1fr 3fr !important;
}

.ia-people-directory-section.nciorg .ia-people-filter-section .ia-people-filters {
    display: block !important;
}

/* Font size for People Directory email, phone, department */
.people-finder .ia-link-item a, .people-finder .ia-profile-dept {
    font-size: 16px;
}


/************************************
*        Employee Detail Page
************************************/
.ak-theme-ncitheme .ia-profile .ia-profile-details .ia-profile-detail-info .ia-profile-detail-others-info{
    display: block;
}

.ak-theme-ncitheme .ia-profile .ia-profile-details .ia-profile-detail-info .ia-profile-detail-name{
    margin-bottom: 8px;
}

.ak-theme-ncitheme .ia-my-org .ia-my-org-user .ia-my-org-user-title {
	color: var(--fs-dark-primary-color)
}

.ak-theme-ncitheme .ia-profile .ia-profile-details .ia-profile-detail-info .ia-profile-detail-others-info .ia-key-value .ia-value.ia-location {	
    -webkit-line-clamp: 3;
}

/* Sets email string to lowercase */
#ed-mail {
    text-transform: lowercase;
}

/* Needs to be removed for org chart when fixed */
.ak-theme-ncitheme .ak-widget.fs-js-my-org-instance:has(.ia-my-org) {
	display: none;
}


/************************************
*         Left Nav Widget

Internal Pages custom left nav widget
        Not used currently
************************************/
.left-nav-wrapper {
    padding-top: 1px;
}

.left-nav-wrapper .left-nav-items {
    border-top: 1px solid var(--nci-light-gray);
}

.left-nav-wrapper .left-nav-items .left-nav-item {
    border-bottom: 1px solid var(--nci-light-gray);
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 1px;
}

.left-nav-wrapper .left-nav-items .left-nav-item a {
    color: var(--nci-gray);
    text-decoration: none;
    font-size: 18px;
    padding: 8px 12px;
    display: block;
}

.left-nav-wrapper .left-nav-items .left-nav-item .selection-indicator {
	height: 100%;
    width: 6px;
    display: block;
    min-height: 34px;
    border-radius: 4px;
}

.left-nav-wrapper .left-nav-items .left-nav-item.selected-true a {
    color: var(--nci-light-blue);
    font-weight: 600;
}

.left-nav-wrapper .left-nav-items .left-nav-item.selected-true .selection-indicator {
    background-color: var(--nci-light-blue);
}

.left-nav-wrapper .left-nav-items .left-nav-item a.node-level-1 {
    padding-left: 12px;
    color: var(--nci-light-blue);
    font-weight: 600;
	font-size: 20px;
}

.left-nav-wrapper .left-nav-items .left-nav-item a.node-level-2 {
    padding-left: 24px;
}

.left-nav-wrapper .left-nav-items .left-nav-item a.node-level-3 {
    padding-left: 36px;
}

.left-nav-wrapper .left-nav-items .left-nav-item a.node-level-4 {
    padding-left: 48px;
}

.left-nav-wrapper .left-nav-items .left-nav-item a.node-level-5 {
    padding-left: 60px;
}

/* adjusting these media queries prevents overflow of the Org Directory
	People cards on the larger breakpoints

DUPLICATE
@media screen and (min-width: 1025px) {
	.ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
		width: calc(100vw - 500px);
	}
}

@media screen and (min-width: 1600px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 500px);
		max-width: 95%;
    }
}

@media screen and (min-width: 1700px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 500px);
		max-width: 95%;
    }
}

@media screen and (min-width: 1750px) {
    .ak-theme-ncitheme .ia-people-directory .ia-people-directory-section .ia-people-filter-section #organizationdirectorytabwidget .ia-people-results .ia-people-results-grid.ia-active {
        width: calc(100vw - 100px);
		max-width: 95%;
    }
} */

/*
Duplicate
.ia-card a:not(.ak-spalink, .ia-profile-name, .share-button) {
	color: #01679d !important;
}


.ia-card {
	color: #000000 !important;
}

changes People profile details back to correct color
.ia-profile-details {
	color: var(--fs-card-link-color) !important;
} 
*/
