{/*root*/}

<div className="ia-slw ia-slw-thumbnails ia-widget-wrapper">
    {model.DisplayCollectionName && <div className="ia-slw-header">
        <h2 className=" h3 ia-slw-title">{model.CollectionName}</h2>
        <div className="ia-slw-description" dangerouslySetInnerHTML={{ __html: model.Summary }}></div>
    </div>}
    {model.Items && model.Items.filter(x=>
    x.NodeType == "Item").length !=0 ?
    <div className="ia-slw-thumbails-lists ia-card" style={{height: "500px",overflowY:"scroll"}}>
        {Children}
    </div> :
    <p>{Akumina.Digispace.Language.TryGetText("summarylink.error.nolinkstodisplay")}</p>
    }
</div>
    {/*group*/}
<React.Fragment></React.Fragment>
    {/*item*/}
<div className="ak-slw-item">
    {editComponent}
    <div class="ia-slw-thumbnails-item">
        <div className="ia-slw-article-image">
            {model.Link?<a href={model.Link} target={model.LinkTarget} className={Akumina.Digispace.ConfigurationContext.IsSPAMode
                           ? "ak-spalink" : "" } style={{backgroundImage:"url('" + model.ImageUrl + "')" }} title={model.Tooltip}>
            </a>:
            <span>{model.Title}</span>}
        </div>
        <div className="ia-slw-article-desc">
            <h3 class="h4">
                {model.Link?<a href={model.Link} target={model.LinkTarget} className={Akumina.Digispace.ConfigurationContext.IsSPAMode
                               ? "ak-spalink" : "" } title={model.Tooltip} data-interception="off">
                    {model.Title}
                </a>:
                <span>{model.Title}</span>}
            </h3>
            <div style={{fontSize:"14px",fontFamily: "Lexend, sans-serif",color: "var(--fs-text-color)"}} dangerouslySetInnerHTML={{ __html: model.Summary }}></div>
        </div>
    </div>
</div>

